
{% extends 'base.html' %}
{% load static %}

{% block headAddon %}
<style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
      	margin-top:57px;
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        overflow:hidden; 
      }

      .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 200px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      .pac-container {
        font-family: Roboto;
      }

      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }
      #target {
        width: 345px;
      }

      #GPS {
    	position: absolute;
    	left: 13px;
    	top: 150px;
    	font-weight:bold;
	  }
	  #bottom {
	  	height:35%;
	  	border: 0px solid blue;
	 	overflow:auto; 
	  }
	  #contents {
	  	height:100%;
	  	border: 0px solid orange;
	  }
	  .info_detail {
	  	font-size:11px;
	  	float:left;
	  	width:70%;
	  	border:0px solid black;
	  	padding:0px;
	  }

</style>
{% endblock %}

{% block content %}
<div id="contents" style="overflow: hidden;border:0px solid orange">
	<div style="height:60%;border:0px solid red">
		<input id="pac-input" class="controls" type="text" placeholder="Search Box" />
		<div id="map" >
		</div>
		<div id="GPS">
			<a href="#">
				<img src="{% static 'octicons-6.0.1\libs\svg\location.svg' %}" alt='Your Location' width="30" height="30"/>
			</a>
		</div>
	</div>
	<div id="choose" style="height:5%; width:100%;border:0px solid green">
		<button class="btn lodge" id ="lodge" style="width:15%;height:100%">숙소</button>
		<button class="btn restaurant" id ="restaurant" style="width:17%;height:100%">먹거리</button>
		<button class="btn " style="width:24%;height:100%">페스트벌</button>
		<button class="btn " style="width:24%;height:100%">제래시장</button>
	</div>
	<div id="bottom" style="height:35%; border:0px solid green;">
		<div id="info_table" class="list-group" style="height:100%;width:50%;border:0px solid red;float:left;background-color: rgba( 0, 0, 255, 0.5 )">
			<ul id="info_table_ul" class="sortable" style="overflow:auto;list-style-type:none">
			</ul>
			<div id="infoScript">
			</div>
		</div>
		<div id="select_table" class="list-group" style="height:100%;width:50%;border:0px solid blue;background-color: rgba( 255, 0, 0, 0.3 )">
			<ul id="select_table_ul" class="sortable" style="overflow:auto;height:100%;width:100%;list-style-type:none">
			</ul>
			<div id="selectScript">
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block additional_script %}
<script>
// Simple list
var a = document.getElementById("info_table_ul");
var asortable =Sortable.create(a,  { 
									group: {name:"a", pull: 'clone', put:true ,revertClone:true},
									onAdd: function (evt) {
										var itemEl = evt.item;
										itemEl.remove();
									//	clearInfoScript();
									//	infoScript();
									}
								});

var b = document.getElementById("select_table_ul");
var bsortable = Sortable.create(b, {
									group: {name:"a", pull: true, put: true},
									onAdd: function (evt) {
										var itemEl = evt.item;
									//	var cln = itemEl.cloneNode(true);
									//	document.getElementById("select_table_ul").appendChild(cln);
									//		 x = itemEl.getElementById("select_table_ul")
										place = itemEl.querySelector('p:nth-of-type(2)').innerHTML;
										place = place.replace(/\"\\&quot;/gi,'\'');
										place = place.replace(/\\&quot;"/gi,'\'');
										place = place.replace(/=\"/gi,'\'');
										place = place.replace(/\">/gi,'\'>');
										place = JSON.parse(place);
										console.log(evt.newIndex);
										createTourMarker(place,tourMarkerIndex);
										tourMarkerIndex++;
										clearSelectScript();
										selectScript();
									},
									onRemove: function (evt) {
											var itemEl = evt.item;
											var latlng;
											latlng = itemEl.querySelector('p:nth-of-type(1)').innerHTML;
											console.log(evt.oldIndex);
											deleteTourMarker(latlng,evt.oldIndex);
											tourMarkerIndex--;
										},
									onUpdate: function (evt) {
										tourMarker.splice(evt.newIndex, 0, tourMarker.splice(evt.oldIndex, 1)[0]);
										console.log("sorted", tourMarker);
										}
								});
//--------------------------------------------------------------------------------------------
	$(function(){
		$.ajaxSetup({
		    headers: { "X-CSRFToken": getCookie("csrftoken") }
		}); 
	});

	function getCookie(c_name)
	{
	    if (document.cookie.length > 0)
	    {
	        c_start = document.cookie.indexOf(c_name + "=");
	        if (c_start != -1)
	        {
	            c_start = c_start + c_name.length + 1;
	            c_end = document.cookie.indexOf(";", c_start);
	            if (c_end == -1) c_end = document.cookie.length;
	            return unescape(document.cookie.substring(c_start,c_end));
	        }
	    }
	    return "";
	 };

  	var geocoder;
 	var map;
 	var infowindow;
 	var service;
 	var search_keywords = ['food'];//default selection
 	var markers = [];
 	var hoverMarker = [];
 	var tourMarker = [];
 	var tourMarkerIndex = 1;
 	var geo_pos;

  	function initMap() {
  		var markers_from_DB = {{markers|safe}};
  		console.log(markers_from_DB);
  		var addresses = JSON.parse({{addresses|safe}});
 
	  	var default_coord = [
	  							{coord:{lat: -33.865143, lng: 151.209900},
	  					 		 content:"test_"}
	  						];
	  	var kor_coords = [	
	  						{coord:{lat: 37.56145265126773, lng: 126.9938850402832},
	  						 content:'test'}
	  			 		 ];

	  	geocoder = new google.maps.Geocoder();		 
	    map = new google.maps.Map(document.getElementById('map'), {
	      center: kor_coords[0].coord,
	      zoom: 14,
	      zoomControl: true,
		  mapTypeControl: false,
		  scaleControl: true,
		  streetViewControl: false,
		  rotateControl: true,
		  fullscreenControl: false,
	    });

	    infowindow = new google.maps.InfoWindow();
		service = new google.maps.places.PlacesService(map);
	    google.maps.event.addListener(map, 'click',
	    	function(event){
	    		clearInfoTable();
	    		var latlng = event.latLng;
	    		searchCallback(search_keywords,latlng);
	    	}
	    	
	    );
	    markers =[];
	    for(var i = 0; i < kor_coords.length; i++){
	    	markers.push(addMarker(kor_coords[i]));
	    };

	    // nearby search after Geolocation				
		var request = {
		    location: kor_coords[0].coord,
		    radius: 400,
		    types: ['lodging','gas_station']
		};
		console.log(kor_coords[0].coord);
		deletMarkers();
		addMarker(kor_coords[0]);
		service.textSearch(request, callback);

//-----------------------------------------------------------------------------

	    //testing for Geocoding with DB
	    /*
	    for(var j = 0; j < addresses.length; j++){
	    	codeAddress(addresses[j]);
	    };*/

	    // Create the search box and link it to the UI element.
	    var input = document.getElementById('pac-input');
        var searchBox = new google.maps.places.SearchBox(input);
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function() {
          searchBox.setBounds(map.getBounds());
        });

        var markers = [];
        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        searchBox.addListener('places_changed', function() {
	      var places = searchBox.getPlaces();

	      if (places.length == 0) {
	        return;
	      }

	      // Clear out the old markers.
	      markers.forEach(function(marker) {
	        marker.setMap(null);
	      });
	      markers = [];

	      // For each place, get the icon, name and location.
	      var bounds = new google.maps.LatLngBounds();
	      places.forEach(function(place) {
	        if (!place.geometry) {
	          console.log("Returned place contains no geometry");
	          return;
	        }
	        var icon = {
	          url: place.icon,
	          size: new google.maps.Size(71, 71),
	          origin: new google.maps.Point(0, 0),
	          anchor: new google.maps.Point(17, 34),
	          scaledSize: new google.maps.Size(25, 25)
	        };

	        // Create a marker for each place.
	        markers.push(createMarker(place));

	        if (place.geometry.viewport) {
	          // Only geocodes have viewport.
	          bounds.union(place.geometry.viewport);
	        } else {
	          bounds.extend(place.geometry.location);
	        }
	      });
	      map.fitBounds(bounds);
	    });
	}
//-----------------------------------------------------------------------------
//							catefory selections	
	document.getElementById('lodge').addEventListener('click',
		function(event){
			clearInfoTable();
			var keyword = ['lodging'];
			var latlng = map.getCenter();
			searchCallback(keyword,latlng);
	});

	document.getElementById('restaurant').addEventListener('click',
		function(event){
			clearInfoTable();
			var keyword = ['restaurant'];
			var latlng = map.getCenter();
			searchCallback(keyword,latlng);
	});

	document.getElementById('GPS').addEventListener('click',
		function(event){
			clearInfoTable();
			GPS();
			
	});
//-----------------------------------------------------------------------------
	function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
      }

	function searchCallback(keyword,latlng){
		search_keywords = keyword;
    		var request = {
    			location:latlng,
    			radius: 400,
    			types: search_keywords
    		};
    		map.setCenter(latlng)
    		deletMarkers();
    		geocodeLatLng(geocoder, map, infowindow, latlng);
    		service.textSearch(request, callback);
	}

//-----------------------------------------------------------------------------
//							GeoLocation (GPS)
	function GPS(){
	//	var geoinfoWindow = new google.maps.InfoWindow({map: map});
	    // Try HTML5 geolocation.
        if (navigator.geolocation) {
			navigator.geolocation.getCurrentPosition(function(position) {
				geo_pos = [
				  {coord:{lat: position.coords.latitude,
				  lng: position.coords.longitude}}
				];
			//	geoinfoWindow.setPosition(geo_pos[0].coord);
			//	geoinfoWindow.setContent('Location found.');
				map.setCenter(geo_pos[0].coord);
//-------------------------------------------------------------------------------
// nearby search after Geolocation				
				var request = {
				    location: geo_pos[0].coord,
				    radius: 400,
				    types: ['lodging','gas_station']
				};
				deletMarkers();
				addMarker(geo_pos[0]);
				clearInfoTable();
				service.textSearch(request, callback);
//-------------------------------------------------------------------------------				
			}, function() {
			//	handleLocationError(true, geoinfoWindow, map.getCenter());
			});
		} 
		else {
		// Browser doesn't support Geolocation
	//	handleLocationError(false, geoinfoWindow, map.getCenter());
		}
	}
//-------------------------------------------------------------------------------

	function geocodeLatLng(geocoder, map, infowindow, o_latlng) {
        var input = o_latlng.lat()+','+o_latlng.lng();// or without 'split' var latlngStr = [o_latlng.lat(),o_latlng.lng()]; 
        console.log(input);
        var latlngStr = input.split(',', 2);
        var latlng = {lat: parseFloat(latlngStr[0]), lng: parseFloat(latlngStr[1])};
        geocoder.geocode({'location': latlng}, function(results, status) {
			if (status === 'OK') {
				if (results[1]) {
			//	  map.setZoom(11);
			//	  var marker = new google.maps.Marker({
			//	    position: latlng,
			//	    map: map
			//	  });
			//	  infowindow.setContent(results[0].formatted_address);
			//	  infowindow.open(map, marker);
			//    using the 'markers.push' to delete previous marker
				  markers.push(createMarker(results[1]));
				} 
				else {
				  window.alert('No results found');
				}
			} 
			else {
			window.alert('Geocoder failed due to: ' + status);
      		}
    	});
    }

    function createMarker(place) {
        var placeLoc = place.geometry.location;
        var icon = {
	          url: place.icon,
	          size: new google.maps.Size(25, 25),
	          origin: new google.maps.Point(0, 0),
	          anchor: new google.maps.Point(10, 22),
	          scaledSize: new google.maps.Size(23, 23)
	        };
        var marker = new google.maps.Marker({
          map: map,
          animation: google.maps.Animation.DROP,
          position: place.geometry.location,
        });
        if(place.icon){
	    	marker.setIcon(icon);
	    }
	    var infowindow = new google.maps.InfoWindow({
          maxWidth: 200
        });
	    var show_info;
	    if (place.photos){
			var pic_url = place.photos[0].getUrl({
			    maxWidth: 600,
			    maxHeight: 400
			});
			show_info = "<div style='float:left;padding:0px;border:0px solid red;width:100%'><div style='float:left;border:0px solid black;width:30%'><img src='"+pic_url+"' width=100% height=60/></div><div style='padding-left:7px;float:left;width:70%;border:0px solid green'>"+place.name+"</div></div>"
		}
		else {
			show_info = place.name+ "<br>";
		}
        google.maps.event.addListener(marker, 'mouseover', function() {
			infowindow.setContent(show_info);
			infowindow.open(map, this);
        });
        google.maps.event.addListener(marker, 'mouseout', function() {
			infowindow.close(map, this);
        });
   	
        //need to maker sure returning 'marker' to delete previous markers before
        markers.push(marker);
        return marker;
  	}


	function callback(results, status) {
		if (status == google.maps.places.PlacesServiceStatus.OK) {
			for (var i = 0; i < results.length; i++) {
			  var place = results[i];
			  markers.push(createMarker(results[i]));
			  makeInfoTable(results[i]);
			}
		infoScript();
		}
	}

	function makeInfoTable(place){
		console.log(place);
		var location;
		var opening_time;
		var pic_url
		var image;
		if (place.opening_hours){
			opening_time = place.opening_hours.open_now;
		}
		else {
			opening_time = '';
		};
		if (place.photos){
			pic_url = place.photos[0].getUrl({
			maxWidth: 600,
			maxHeight: 400
			});
			image="<img src='"+pic_url+"'width=100%; height=50px />";
		}
		else {
			image='';
		};
		location = [place.geometry.location.lat(),place.geometry.location.lng()];
		console.log("stringify",JSON.stringify(place));
		$("#info_table_ul").append("<li style='height:70px; width:100%;margin-left:-35px'><div style='width:100%;height:100%;border:1px solid rgba(0, 0, 0, 0.125);padding:0px;cursor: pointer;' class='list-group-item list-group-item-action'><div class='info_detail'><strong>"+place.name+"</strong><br>별점:"+place.rating+"<br>여는시간:"+opening_time+"<p style='display:none'>"+location+"</p><p style='display:none'>"+JSON.stringify(place)+"</p></div><div style='width:30%;border:0px solid red;float:right' >"+image+"</div></div></li>");
	}

	function infoScript(){
		$("#infoScript").append("<script>$('#info_table_ul > li').hover(function(){markers.push(createHoverMarker($('#info_table_ul > li >div:hover > div >p:nth-of-type(1)').text()));},function(){hoverMarkerout();}); <\/script>");
	};
	function selectScript(){
		$("#selectScript").append("<script>$('#select_table_ul > li').hover(function(){markers.push(createHoverMarker($('#select_table_ul > li >div:hover > div >p:nth-of-type(1)').text()));},function(){hoverMarkerout();}); <\/script>");
		
	};
	function clearInfoTable(){
		$("#info_table_ul").empty();
	}
	function clearSelecTable(){
		$("#select_table_ul").empty();
	}
	function clearSelectScript(){
		$("#selectScript").empty();
	}
	function clearInfoScript(){
		$("#infoScript").empty();
	}

	function codeAddress(address) {
		var updates = {};
	    geocoder.geocode( { 'address': address.fields.address}, function(results, status) {
	      	if (status == 'OK') {
		  //    map.setCenter(results[0].geometry.location);
		        updates.id = address.pk
		        updates.lat = results[0].geometry.location.lat();
		        updates.lng = results[0].geometry.location.lng();
		        console.log(updates);
		        latlngUpdate(updates);

		  //    var marker = new google.maps.Marker({
		  //        map: map,
		  //        position: results[0].geometry.location
		  //    });		      
	      	} else {
	        alert('Geocode was not successful for the following reason: ' + status);
		    }
	    });
	}

	function latlngUpdate(updates){
		$.ajax({
			url:"{% url 'mapAPI:latlngUpdates' %}",
			method:"post",
			data:updates,
			success: function(res){
				console.log(res)
			}
		});
	}

	function setMapOnAll(map) {
        for (var i = 0; i < markers.length; i++) {
          markers[i].setMap(map);
        }
    }

    function clearMarkers(){
        setMapOnAll(null);
    }

	function deletMarkers(){
		clearMarkers();
		markers = [];

	}

	function hoverMarkerout(){
  		for (var i = 0; i < hoverMarker.length; i++) {
          hoverMarker[i].setMap(null);
        }
  	}

    function addMarker(location){
    	var marker = new google.maps.Marker({
	        position: location.coord,
	        map: map,
	        animation: google.maps.Animation.DROP,
	        draggable: false,
	        //icon: '',//default image
	    });
	    if(markers.label){
	    	marker.setLabel(markers.label);
	    }
	    if(markers.iconImage){
	    	marker.setIcon(markers.iconImage);
	    }
	    if(markers.content){
	    	var	infowindow = new google.maps.InfoWindow({
		    	content: markers.content,
		    	maxWidth: 200
		  	});
		  	marker.addListener('click', function(){
		  		infowindow.open(map, marker);
		  	});
	    }
	    markers.push(marker);
	    return marker;
    }

    function createHoverMarker(location,arg) {

    	var latlngStr = location.split(',', 2);
    	var latlng = {lat: parseFloat(latlngStr[0]), lng: parseFloat(latlngStr[1])};
 
    	var marker = new google.maps.Marker({
	        position: latlng,
	        map: map,
	        animation: google.maps.Animation.DROP,
	        draggable: false,
	        zIndex: 999,
	        icon: '',
	    });
	    
    	map.setCenter(latlng);
	  	hoverMarker.push(marker); 
	  	return marker;    
  	}

  	function createTourMarker(place, markerIndex) {
  	//	var place;
    //	var latlngStr = location.split(',', 2);
    // 	var latlng = {lat: parseFloat(latlngStr[0]), lng: parseFloat(latlngStr[1])};
    	var marker = new google.maps.Marker({
	        position: place.geometry.location,
	        map: map,
	        animation: google.maps.Animation.DROP,
	        draggable: false,
	        zIndex: 9999,
	        icon: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',//default image
	    	label: {
	    			text: ''+markerIndex+'',
	    			fontWeight: "bold",
	    			fontSize: "20px",
	    			color: "black",
	    		},
	    });
	    
    	map.setCenter(place.geometry.location);
	  	tourMarker.push(marker);
	  	console.log(tourMarker);
	//  	console.log(location,latlng,'marker_array',tourMarker[0].position.lat());
	  	return marker;
  	}
  	function deleteTourMarker(latlng,index){
  		var latlngStr = latlng.split(',', 2);
	    tourMarker[index].setMap(null);
		tourMarker.splice(index,1);
  		console.log(tourMarker,'!!tourmaker delete event!!');
	}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key={{Google_key}}&libraries=places&callback=initMap" async defer></script>

<script type="text/javascript"> 
var s = JSON.parse({{addresses|safe}});
var markers_from_DB = {{markers|safe}};
console.log('addrss form DB');
console.log(s);
console.log('markers latLng only form DB');
console.log(markers_from_DB);
</script>

<br><br>
{% endblock %}