{% load static %}

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block headAddon %}
{% endblock %}
<title >{% block title %}DUCKWHO{% endblock %}</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="{% static 'popper.js/1.14.0/popper.min.js' %}"></script>
<script src="{% static 'bootstrap/4.0.0-beta.3/js/bootstrap.min.js' %}"></script>
<script src="{% static 'Sortable/Sortable.js' %}"></script>
<script src="{% static 'sweetalert/sweetalert.js' %}"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/4.0.0-beta.3/css/bootstrap.min.css' %}" />
<!--<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/4.0.0-beta.3/css/bootstrap-theme.min.css' %}" /> -->
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/additionalCSS/carousel.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'open-iconic-master/font/css/open-iconic-bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'sweetalert/sweetalert.css' %}" />


<style>
body{
  padding-top: 0;
}
a, a:active, a:link {
  text-decoration: none;
}

.overlay {
    height: 100%;
    width:100%;
    position: fixed;
    z-index: 999;
    top: 0;
    left: -100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.5);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 0;
    width: 400px;
    text-align: center;
    background-color: rgb(239, 239, 239);
}

.overlay div {
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    /*color: #f1f1f1;*/
}

.overlay .closebtn {
    padding: 0px;
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 40px;
}

.noneScroll {
  overflow: hidden;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.pageload {
  width: 100%;
  height: 2px;
  background-color: #ddd;
}

.pageloadbar {
  width: 10%;
  height: 2px;
  background-color: #4CAF50;
  text-align: center;
  line-height: 30px;
  color: white;
}
@media only screen and (max-width: 450px) {
  a {
    color: #333333;
    text-decoration: none;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 0px;
    right: 0px;
  }
  .overlay-content {
    width: 100%;
  }
}
</style>
<script>
$(document).ready(function(){
  var width = 100, // width of a progress bar in percentage
      perfData = window.performance.timing, // The PerformanceTiming interface
      EstimatedTime = -(perfData.loadEventEnd - perfData.navigationStart), // Calculated Estimated Time of Page Load which returns negative value.
      time = parseInt((EstimatedTime/1000)%60)*100; //Converting EstimatedTime from miliseconds to seconds.
  // Loadbar Animation
  $(".pageloadbar").animate({
    width: width + "%"
  }, time/5, 
  function(){
    $(".pageload").css("background-color" , "white");
    $(".pageloadbar").css("display" , "none");
  });
});

function onLoad() { 
  var now = new Date().getTime();
  var page_load_time = now - performance.timing.navigationStart;
  console.log("User-perceived page loading time: " + page_load_time);
}
</script>
</head>
<body>
  <header>
    <div class="pageload">
      <div class="pageloadbar"></div>
    </div>
    <!-- <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        {% if user.is_authenticated %}
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/logout?next={{ request.path }}">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blog">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blog2">Blog2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/bookmark">Bookmark</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/mapAPI">MAP</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:view_profile' %}">Profile</a>
          </li>
        </ul>
        {% else %}
        <ul class="navbar-nav mr-auto">
           <li class="nav-item">
            <a class="nav-link" href="/login?next={{ request.path }}">login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:register' %}">Register<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/mapAPI">MAP</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/">Tips</a>
          </li>
        </ul>
        {% endif %}
        <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav> -->

    <div id="myNav" class="overlay">
      <div class="overlay-content">
        <div class="closebtn" onclick="closeNav()" style="width:52px;">
          &times;
        </div>
        <div style="text-align: left">
          <a href='/'>&#127968;</a>
        </div>
          {% if user.is_authenticated %}
            <a href="/logout?next={{ request.path }}">
              <div style="text-align: left">
                <img src="{% static 'Images/accounts/avatars/img_avatar.png' %}" alt="Avatar" class="avatar" style="margin-right: 10px;">
                Click to log-out
              </div>
            </a>
            <div style="text-align: left">
              <a href="{% url 'accounts:view_profile' %}">
                Profile
              </a>
            </div>
            <div style="text-align: left">
              <a href="{% url 'accounts:change_password' %}">
                Change Password
              </a>
            </div>
          {% else %}
            <a href="/login?next={{ request.path }}">
              <div style="text-align: left">
                <img src="{% static 'Images/accounts/avatars/img_avatar.png' %}" alt="Avatar" class="avatar" style="margin-right: 10px;">
                Log-In please
              </div>
            </a>
            <div style="text-align: left">
              <a href="{% url 'accounts:register' %}">
                Register
              </a>
            </div>  
            <div style="text-align: left">
              <a href="{% url 'accounts:reset_password' %}">
                Forgot Password?
              </a>
            </div>
          {% endif%}
        <div style="border:1px solid #dddbdb; height: 100px;">
          <div style="border: 1px solid black; width:33.3%; float:left">a</div>
          <div style="border: 1px solid black; width:33.3%; float:left">b</div>
          <div style="border: 1px solid black; width:33.3%; float:left">c</div>
        </div>
        <div style="border:1px solid #dddbdb; height: 70px; ">
          <div style="border: 0px solid black; width:33.3%; float:left; font-size: 17px;">
            <a href="/login?next={{ request.path }}">Log In</a>
          </div>
          <div style="border: 0px solid black; width:33.3%; float:left; font-size: 17px;">Announcement</div>
          <div style="border: 0px solid black; width:33.3%; float:left; font-size: 17px;">
            <a id="mapAPI" href="/mapAPI">MAP</a>
          </div>
        </div>
        <a class="nav-link" href="/blog">Blog</a>
        <a class="nav-link" href="/blog2">Blog2</a>
        <a class="nav-link" href="/bookmark">Bookmark</a>
      </div>
    </div>
    <div style="border:0px solid red; width:100%; height:54px">
      <div style="border:0px solid black; width:15%; text-align:center; float:left">
        <span style="font-size:35px;cursor:pointer" onclick="openNav()">&#9776;</span>
      </div>
      <div style="border:0px solid red; width:70%; text-align:center; float:left">
        <a href="/">
          <span style="font-size:35px;cursor:pointer">&#9819;</span>
        </a>
      </div>
      <div style="border:0px solid red; width:15%; text-align:center; float:left">
        <span style="font-size:35px;cursor:pointer">&#9983;</span>
      </div>
    </div>
    <script>  
    function openNav() {
        // document.getElementById("myNav").style.width = "100%";
        $("#myNav").animate({left: '0px'}, 30);
        $('body').addClass('noneScroll');

    }

    function closeNav() {
        // document.getElementById("myNav").style.width = "0%";
        $("#myNav").animate({left: '-100%'}, 30);
        $('body').removeClass('noneScroll');
    }

    $("#mapAPI").click(function(){
      $("#myNav").animate({left: '-100%'}, 30);
    });
    </script>
  </header>
  	{% block content %}{% endblock %}
    {% block additional_script %}{% endblock %}
  	{% block footer %}{% endblock %}
</body>
</html>