{% extends "base.html" %}
{% load static %}
{% load embed_video_tags %}
{% load imagekit %}
{% load jb_replace %}

{% block headAddon %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" media="print"/>
<link rel="stylesheet" href="{% static 'owlcarousel/2-2.3.4/docs/assets/owlcarousel/assets/owl.carousel.css' %}" >
<link rel="stylesheet" href="{% static 'owlcarousel/2-2.3.4/docs/assets/owlcarousel/assets/owl.theme.default.css' %}" media="print">
<!-- <link rel="stylesheet" href="{% static 'owlcarousel/2-2.3.3/docs/assets/css/docs.theme.min.css' %}"> -->
<link rel="stylesheet" type="text/css" href="{% static 'slick/1.8.0/slick/slick.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'slick/1.8.0/slick/slick-theme.css' %}"/>

<style>
.home_main {
  /*background-image: url("{% static 'Images/bg_patterns/back_pattern_@2X.png' %}");
  background-repeat: repeat;*/

}

* {box-sizing: border-box;}
.wrapper {
  max-width: 940px;
  margin: 0 auto;
  border: 1px solid red;
}

.wrapper > div {
  border: 2px solid rgb(233,171,88);
  border-radius: 5px;
  background-color: rgba(233,171,88,.5);
  padding: 1em;
  color: #d9480f;
}.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

div.tips {
  background-color: #ddffff!important;
  border: 0px solid red;
  padding: 7px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
 }

div.listicle {
  background-color: #ddffff!important;
  border: 0px solid red;
  padding: 7px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
 }

 div.tips_box {
  background-color: white;
  border: 0px solid red;
  padding: 20px;
  width: 100%;
  height: 300px;
  margin: 0 auto;
 }

 div.listicle_box {
  background-color: white;
  border: 0px solid red;
  padding: 20px;
  width: 100%;
  height: 300px;
  margin: 0 auto;
 }

.circle_outter{
  width: 50%;
  border: 0px solid red; 
  display: table-cell;
  vertical-align: middle; 
  text-align: center; 
  padding: 0px 0; 
}

.circle_item {
  height: 100px;
  width: 100px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 0 auto;
}

.circle_label {
  border: 0px solid red; 
  margin-top: -10px
}

.sticky {
  position:sticky;
  top: -1px;
 /* background-color:#4DC7A0; */
  z-index:1; 
}

.sticky2 {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
.main_nav_slick { 
  text-align:center;
}

.main_nav_item {
/*  border-radius: .50rem;*/
  color: white;
  font-weight: bold;
  height:50px; 
}

a * {
  text-decoration: none;
}

.slick-slider * { 
  outline: none; 
}

.slick-slide {
    margin-left:1px;
  }

.slick-list {
    margin-left:-1px;
  }

.slick_select {
    border-bottom: 4px solid white ;
    font-weight: bold;
    text-decoration: none;
  }

/* Style the tab */
.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 10%;
    height: 300px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid red;
    width: 70%;
    border-left: none;
    height: 100%;
}

.listicle_title {
    position: absolute; 
    border:0px solid red;
    top:35%; 
    width:100%; 
    background-color: rgba( 0, 0, 0, 0.5 );
    text-align: center;
    font-family: 'Monoton', cursive;
    color:#f1f1f1;
    padding: 6px;
    font-size: 3vw;
}

#id_video {
  width: 100%;
}

#main_navi {
  /* background-image: url("{% static 'Images/main_navi.jpg' %}");
   background-size: 100% 100%;*/
   background-color: black;
}

#main_navi::-webkit-scrollbar {
display:none;
}

input[type=text], select {
    width: 100%;
    padding: 8px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, select {
    background-color: #ddd;
    outline: none;
}

#submitbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 0px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    
}
#submitcancel {
    background-color: #DDDDDD;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    
}
#submitbtn:hover {
    opacity: 1;
}

.form-bg-img {
  background-image: url("{% static 'Images/Seoul.jpg' %}");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div.scrollmenu {
    -ms-overflow-style: none;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    text-align: center;
    padding: 10px;
    height:46px;
    color:white;
}

.rating {
  padding-bottom:10px;
  position: relative;
  float: left;
  transform: rotateY(180deg);
  display: flex;
}

.rating input{
  display: none;
}
.rating label{
  height:30px;
  display: block;
  cursor: pointer;
  width:30px;
  background-color: white;
}
.rating label:before{
  content:'\f005';
  font-family: fontAwesome;
  display: block;
  font-size: 30px;
  color: #DDDDDD;
}
.rating label:after{
  content:'\f005';
  font-family: fontAwesome;
  position: relative;
  top:-45px;
  display: block;
  font-size: 30px;
  color: #1f9cff;
  opacity: 0;
  transition: .5s;
  text-shadow: 0 2px 5px rbga(0,0,0,.5);
}

.rating label:hover:after,
.rating label:hover ~ label:after,
.rating input:checked ~ label:after{
  opacity: 1;
}

#loader {
  position: fixed;
  left: 46%;
  top: 45%;
}

.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next{
  color: red;
}

.left_col {
  padding-right: 5px;
}

.right_col {
  padding-left: 5px;
}

@media only screen and (max-width: 600px) {
  .listicle_title {
    position: absolute; 
    border:0px solid red;
    top:35%; 
    width:100%; 
    background-color: rgba( 0, 0, 0, 0.5 );
    font-family: 'Monoton', cursive;
    text-align: center;
    color:#f1f1f1;
    padding: 6px;
    font-size: 7.5vw;
  }
  .left_col {
    padding-right: 15px;
  }
  .right_col {
    padding-left: 15px;
  }
}
</style>
<script>
function thumbImage(title, text, index){
  var parser = new DOMParser();
  var textHtml = parser.parseFromString(text, 'text/html');
  var image = textHtml.querySelector('img');
  // console.log(textHtml.querySelectorAll('img').length);
  if (image != null) {
    if (image.src.length > 0 ){
      if(index < 6){$("#"+title+"_main_image").attr('src', image.src);}
      else{$("#"+title+"_main_image").attr('data-src', image.src);};
    }
    else {
      if(index < 6){$("#"+title+"_main_image").attr('src',(image.outerHTML).split(" ")[1].slice(5,-1));}
      else{$("#"+title+"_main_image").attr('data-src',(image.outerHTML).split(" ")[1].slice(5,-1));};
    }; 
  }
  else {
    $("#"+title+"_main_image").attr('src',("{% static 'Images/No_image_available.svg' %}"));
  };
};

</script>
{% endblock %}

{% block title %} 
  KtripGuide
{% endblock %}

{% block content %}
<div id="loading_overay" style="background-color: white; position: fixed; width:100%; height:100%; z-index: 99;">
  <i id="loader" class="fa fa-spinner fa-spin" style="font-size:35px"></i>
</div>
<div class="home_main" style="border: 0px solid red; width:100%; height: 90%">
  <div class="rewidth" style="border: 0px solid blue; height: 100%; margin: 0 auto">
    <!-- Modal -->
    <div style="border:0px solid red; height:100%" class="modal fade form-bg-img" id="tips" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" style="border:0px solid red; max-width: 1000px; ">
        <div class="modal-content rewidth" style="height:100%;">
          <div class="modal-header" style="border:0px solid red;">
            <div style="border: 0px solid red; float:left; width:100%; height:45px; text-align: center"> 
              <h5 class="modal-title" id="tips_ModalTitle" style="color:black;">
                Write & Share your own Tips about Korea
              </h5>
            </div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: rgba(255, 0, 0, 2);"><span aria-hidden="true">&times;</span></button>
          </div>
          <div id='tips_ModalText' class="modal-body" style="color:black;padding:3px">
           <form id="user_write_form" method="post" enctype="multipart/form-data" action='/tips/write/'>
            {% csrf_token %}
            <label for="id_category" style="width:100%; margin-bottom:0"><b>Category</b></label>
            <div id="category_tooltip" data-toggle="tooltip" data-placement="top" title="Please select a Category">{{form.category}}</div>
            <label for="id_title" style="width:100%; margin-bottom:0"><b>Title</b></label><span id="title_feeback_text"></span>
            <input type="text" name="title" maxlength="100" required="" autofocus="" id="id_title" data-toggle="tooltip" data-placement="top" title="Please put a Title">
            <label for="rating" style="width:100%; margin-bottom:0"><b>Rating</b></label>
            <div class="rating">
              <input type="radio" name="star" id="star1" value="5"><label for="star1"></label>
              <input type="radio" name="star" id="star2" value="4"><label for="star2"></label>
              <input type="radio" name="star" id="star3" value="3"><label for="star3"></label>
              <input type="radio" name="star" id="star4" value="2"><label for="star4"></label>
              <input type="radio" name="star" id="star5" value="1"><label for="star5"></label>
            </div>
            <div style="visibility:hidden; height:0">{{form.rating}}</div>
            <div class="form-group" style="border:0px solid red;margin-top:-25px;visibility:hidden; height:0">
              <div class="input-group input-file" name="video" id="id_video">
                <span class="input-group-btn">
                  <button class="btn btn-primary btn-choose" type="button">Choose</button>
                </span>
                <input type="text" style="height:34px" class="form-control" placeholder='Choose a file...' />
                <span class="input-group-btn">
                   <button class="btn btn-warning btn-reset" type="button">Reset</button>
                </span>
              </div>
            </div>
            <br>
            <div id="text_tooltip" data-toggle="tooltip" data-placement="bottom" title="Please write Contents">
            {{form.text}}
            </div>
            <div class="modal-footer" style="padding:0px">
              <button id="submitbtn" type="button" class="btn btn-default" style="width:100%">Submit</button>
              <button id="submitcancel" type="button" class="btn btn-default" data-dismiss="modal" style="width:100%">Close</button>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- <div style="border:0px solid red; background-color: grey; width:100%; height:300px">
      {{ p_page }}
    </div> -->
    <div id="main_navi" class="scrollmenu main_navi" style="text-align:center;">
     {% for category in categories %}
        {% if forloop.first %}
          <a class="main_navi_item slick_select" style="color:white;">{{category|upper}}</a>
        {% else %}
          <a class="main_navi_item" style="color:white;">{{category|upper}}</a>
        {% endif %}
      {% endfor %}
    </div>
    <div style="border: 0px solid red ;width:100% ;height:100%;">
      <div id="body_div_slick" class="body_div_slick" style="border: 0px solid red ;width:100% ;height:100%;">
          {% for art_category, articles in category_articles.items %}
            <div class="{{art_category}}" style="border: 0px solid red; width:100%; height:100%;">
              <div class="row" style="border-top:6px solid #dddbdb;">
                <div class="col-md-6 left_col" style="border:0px solid red;">
                {% for lis_category, listicles in category_listicle.items %}
                  {% if lis_category == art_category %}   
                    {% if listicles %}
                    <div class="listicle_slider innerSlider owl-carousel owl-theme " style="border:0px solid blue; width:100%;">
                      {% for listicle in listicles %}
                        <a href="{% url 'tips:view_listicle' listicle_pk=listicle.id %}">
                          <div style="width:100%; border: 0px solid blue; position:relative;"> 
                            <div class="listicle_title">
                              {{listicle.title}}
                            </div>
                            <div>
                              <img class="lazy" style="width:100%; height:100%" src="{{listicle.thumnails.url}}" />
                            </div>
                          </div>
                        </a>
                      {% endfor %}
                    </div>
                    {% endif %}   
                  {% endif %}
                {% endfor %}
                <div style="margin-top:5px; display:block; border-radius:2px; background-color:#E9ECEF; text-align:center; border-bottom:2px solid #aaaaaa; font-weight: bold;">
                  {{art_category}} Guide
                </div>
                {% for article in articles %}
                  {% if forloop.first %}
                  <div style="border-bottom:1px solid #D3D3D3; background-color: #ffffff; width:100%; height:104px; margin-top:0px">
                  {% else %}
                  <div style="border-bottom:1px solid #D3D3D3; background-color: #ffffff; width:100%; height:104px; margin-top:10px">
                  {% endif %}
                  <a href="{{article.get_absolute_url}}">
                  <div style=" border:0px solid red; margin-top:0px; max-width:160px; width:37%; height:95px; float:left">
                    {% if article.image_set.first.thumnails.url %}
                      <img class="lazy" style="width:100%; height:100%" data-src="{{article.image_set.first.thumnails.url}}"/>
                    {% else %}
                      <img class="lazy" id="{{article.title|slugify}}_main_image" style="width:100%; height:100%"/>
                      <script async>                       
                        thumbImage("{{article.title|slugify}}", "{{article.text|replace_sq|safe|linebreaksbr}}", '{{forloop.counter}}');
                      </script>
                    {% endif %}
                  </div>
                  <div style="border: 0px solid orange; width: 60%; height:95px; margin-left:7px; float:left; font-size: 15px; display: table;">
                    <div style="border:0px solid blue; width:100%; display: table-cell; vertical-align:middle;">
                      {{article.title}}
                      <div style="display:block; border:0px solid red; font-size:17px">
                        <span class="badge badge-light"><i class="fas fa-caret-right" style="border:0px solid blue;padding-right:5px;"></i>{{article.views}}</span>
                        {% if article.find_keyword %}
                        <a href= "https://www.google.com/maps/search/{{article.find_keyword}}">
                        <div style="color:#17A2B8; border: 0px solid blue; position: absolute;margin-top:-40px; right:25px; padding:10px 0px;cursor:pointer; font-size:25px">
                          <i class="fas fa-map-marker-alt"></i>
                        </div>
                        </a>
                        {% endif %}
                      </div>
                      
                    </div>
                    
                    <!-- <div style="font-size: 0.9em; margin-top:5px; /*overflow:hidden;white-space:nowrap; text-overflow:ellipsis;*/">{{article.slug|_replace}}</div> -->
                  </div>
                  </a>
                </div>

                {% endfor %}
              </div>
                
              <div class="col-md-6 right_col" >               
                {% for recomd_cate, recomd_articles in category_recommendation.items %}
                  {% if recomd_cate == art_category %}
                    {% if recomd_articles %}
                      <div style="margin-top:1px; display:block; border-radius:2px; background-color:#E9ECEF; text-align:center; border-bottom:2px solid #aaaaaa; font-weight: bold;">
                        Must Have a Visit
                      </div>
                      <div style="display:block;width:100%" >
                        <div class="recomd_Thumbs innerSlider owl-carousel owl-theme">
                          {% for article in recomd_articles %}
                           <a href="{{article.get_absolute_url}}">
                            <div style="border:1px solid #dddbdb; text-align:center;">
                              <div style="width:100%; height:100px">
                                {% if article.images.first.thumnails.url %}
                                <img style="width:100%; height:100%" src="{{article.images.first.thumnails.url}}"/>
                                {% else %}
                                  <img class="lazy" id="{{article.name|slugify}}_main_image" style="width:100%; height:100%"/>
                                  <script async>                       
                                    thumbImage("{{article.name|slugify}}", "{{article.text|replace_sq|safe|linebreaksbr}}", '{{forloop.counter}}');
                                  </script>
                                {% endif %}
                              </div>
                              <div style="width:100%; height:60px; display:table;font-size: 13px">
                                <span style="border: 0px solid red; width:100%;display: table-cell; vertical-align:middle;">{{article.name|truncatechars:30}}</span>
                              </div>
                            </div>
                          </a>
                          {% endfor %}
                        </div>
                      </div>
                    {% endif %}
                  {% endif %} 
                {% endfor %}

                {% for user_category, user_articles in category_user_articles.items %}
                  {% if user_category == art_category %}
                    {% if user_articles %}
                      <div style="margin-top:5px; display:block; border-radius:2px; background-color:#E9ECEF; text-align:center; border-bottom:2px solid #aaaaaa; font-weight: bold;">
                        User Tips
                      </div>
                      {% for article in user_articles%}
                        <div style="border-bottom:1px solid #D3D3D3; background-color: #ffffff; width:100%; height:104px; margin-top:10px">
                          <a href="{{article.get_absolute_url}}">
                          <div style=" border:0px solid red; margin-top:0px; max-width:130px; width:37%; height:95px; float:left">
                            {% if article.image_set.first.thumnails.url %}
                              <img class="lazy" style="width:100%; height:100%" data-src="{{article.image_set.first.thumnails.url}}"/>
                            {% else %}
                              <img class="lazy" id="{{article.title|slugify}}_main_image" style="width:100%; height:100%"/>
                              <script async>                       
                                thumbImage("{{article.title|slugify}}", "{{article.text|replace_sq|safe|linebreaksbr}}", '{{forloop.counter}}');
                              </script>
                            {% endif %}
                          </div>
                          <div style="border: 0px solid orange; width: 60%; height:95px; margin-left:7px; float:left; font-size: 15px; display: table;">
                            <div style="border:0px solid blue; width:100%; font-weight: bold;display: table-cell; vertical-align:middle;">
                              {{article.title}}
                              <div style="display:block; border:0px solid red; font-size:17px">
                                <span class="badge badge-light"><i class="fas fa-caret-right" style="border:0px solid blue"></i>{{article.views}}</span>
                              </div>
                            </div>
                            <!-- <div style="font-size: 0.9em; margin-top:5px; /*overflow:hidden;white-space:nowrap; text-overflow:ellipsis;*/">{{article.slug|_replace}}</div> -->
                          </div>
                          </a>
                        </div>
                      {% endfor %}
                    {% endif %}
                  {% endif %}
                {% endfor %}

              </div>
            </div>
          </div>
          {% endfor %}
      </div>
    </div>

    {% if user.is_authenticated %}
    <div id="tip_write" class="reright" style="border: 0px solid red; border-radius:40px; position:fixed; bottom: 50px; width: 55px; height:57px; text-align: center;  ">
      <div data-toggle="modal" data-target="#tips" style="width:100%; height:20px; cursor:pointer; font-size:47px;margin-top:-3px; color:#FFDF7F"><i class="fas fa-plus-circle"></i></div>
    </div>
    <!-- <div id="tip_write" class="reright" style="border: 0px solid red; border-radius:40px; background-color: rgba( 255, 191, 0, 0.5 ); position:fixed; bottom: 50px; width: 55px; height:57px; text-align: center;  ">
      <div data-toggle="modal" data-target="#tips" style="width:100%; height:20px; cursor:pointer; font-size:40px;margin-top:-3px; color:#FFDF7F"><i class="fas fa-plus-circle"></i></div>
    </div> -->
    {% else %}
    <div id="tip_write" class="reright" style="border: 0px solid red; border-radius:40px; position:fixed; bottom: 50px; width: 55px; height:57px; text-align: center;" onclick="swal({title: 'Requires Login?', text: 'By clicking OK you will be redirected to Login.', showCancelButton: true },function(){window.location.href = '/login?next={{ request.path }}'})">
      <div style="width:100%; height:20px; cursor:pointer; font-size:47px;margin-top:-3px;">
        <i class="fas fa-plus-circle"></i></div>
    </div>
    <!-- <div id="tip_write" class="reright" style="border: 0px solid red; border-radius:40px; background-color: rgba( 192, 192, 192, 0.5 ); position:fixed; bottom: 50px; width: 55px; height:57px; text-align: center;" onclick="swal({title: 'Requires Login?', text: 'By clicking OK you will be redirected to Login.', showCancelButton: true },function(){window.location.href = '/login?next={{ request.path }}'})">
      <div style="width:100%; height:20px; cursor:pointer; font-size:40px;margin-top:-3px;">
        +</div>
    </div> -->
    {% endif %}

  </div>
</div>
{% endblock %}

{% block footer	%}
<div class="rewidth" style="border: 0px solid red; height:100%; margin:0 auto; text-align:center; font-size:12px">
	&copy; Loen ALL RIGHTS RESERVED
</div>
{% endblock %}

{% block additional_script %}
<script src="{% static 'slick/1.8.0/slick/slick.min.js' %}"></script>
<script src="{% static 'owlcarousel/2-2.3.4/docs/assets/owlcarousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'jquery.lazy-master/jquery.lazy.min.js' %}"></script>
<script>
window.onscroll = function() {myFunction();};
var navbar = document.getElementById("main_navi");
var sticky = navbar.offsetTop;
var i = 0;
var speed = 100;
var txt = "Write & Share your own Tips about Korea";

function typeWriter(){
  if (i < txt.length) {
    document.getElementById("tips_ModalTitle").innerHTML += txt.charAt(i);
    i++;
    setTimeout(typeWriter, speed);
  }
}

function myFunction() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky");
  } else {
    navbar.classList.remove("sticky");
  }
}

function tipTitleCheckAjax(value) {
  var tip_title = {};
  tip_title.csrfmiddlewaretoken = '{{csrf_token}}';
  tip_title.title = value;
  if (value ==''){
    $('#id_title').text("");
    $('#id_title').css('background-color','#F1F1F1');
  }
  else {
      $.ajax({
        url:"{% url 'tips:title_check_ajax' %}",
        method:"post",
        data: tip_title,
        success: function(res){
          console.log(res)
          if (res == 1){
            $('#title_feeback_text').css('color', '#FF7878');
            $('#title_feeback_text').text('A article exists aleady with the title you have entered');
            $('#id_title').css('background-color', '#FF7878'); 
            $('#submitbtn').prop("disabled", true);
          }
          else {
            $('#title_feeback_text').text('');
            $('#id_title').css('background-color', '#7CFFBB');
            $('#submitbtn').prop("disabled", false);
          }
        },error: function(error){
          console.log("error",error);
        }
    }); 
  }
};

$(function(){
    $.ajaxSetup({
        headers: { "X-CSRFToken": getCookie("csrftoken") }
    }); 
  });

   
function likesUpdate(pk){
    var updates={}
    updates.pk = parseInt(pk)
    $.ajax({
      url:"{% url 'tips:likesUpdate' %}",
      method:"post",
      data: updates,
      success: function(res){
        // console.log(res);
        if (res == 'login_require') {
          alert(res);
        }
        else if (res == 'post_error') {
          // add.. process
        }
        else {
        $('#likes_'+pk).html(res.likes_counts);
        }
      }, error: function(error){
        console.log(error);
        console.log("error");
      }
    });
  }

function articleText_call(pk){
  var article={}
  article.pk = parseInt(pk)
  $.ajax({
      url:"{% url 'tips:articleText_call' %}",
      method:"post",
      data:article,
      success: function(res){
        console.log(res);
        $('#tips_ModalTitle').html(res.title);
        $('#tips_ModalText').html(res.text);
        $('#views_'+pk).html(res.views_counts);
      }, error: function(error){
        console.log(error);
        console.log("error");
      }
    });
}

function setCookie(cName, cValue, cDay){
        var expire = new Date();
        expire.setDate(expire.getDate() + cDay);
        cookies = cName + '=' + escape(cValue) + '; path=/ ';
        if(typeof cDay != 'undefined') cookies += ';expires=' + expire.toGMTString() + ';';
        document.cookie = cookies;
    }
 
function getCookie(cName) {
    cName = cName + '=';
    var cookieData = document.cookie;
    var start = cookieData.indexOf(cName);
    var cValue = '';
    if(start != -1){
        start += cName.length;
        var end = cookieData.indexOf(';', start);
        if(end == -1)end = cookieData.length;
        cValue = cookieData.substring(start, end);
    }
    return unescape(cValue);
}

var loadedElements = 0;
function lazyImageCall(){
   $('.lazy').lazy({
      beforeLoad: function(element){
        // console.log('image "' + stripTime(element.data('src')) + '" is about to be loaded');
      },
      afterLoad: function(element) {
        loadedElements++;
        // console.log('image "' + stripTime(element.data('src')) + '" was loaded successfully');
      },
      onError: function(element) {
        loadedElements++;
        // console.log('image "' + stripTime(element.data('src')) + '" could not be loaded');
      },
      onFinishedAll: function() {
        // console.log('finished loading ' + loadedElements + ' elements');
        // console.log('lazy instance is about to be destroyed')
      }
    });
}

function stripTime(dateString){
  var myDate = new Date(dateString);
  return {tm_sec:myDate.getSeconds(), 
          tm_min: myDate.getMinutes(), 
          tm_hour: myDate.getHours(), 
          tm_mday: myDate.getDate(),
          tm_mon: myDate.getMonth(), 
          tm_year: myDate.getFullYear().toString().substring(2), 
          tm_wday: myDate.getDay()};
}

function changeThemeColor(color) {
    var metaThemeColor = document.querySelector("meta[name=theme-color]");
    metaThemeColor.setAttribute("content", color);
}

$(document).ready(function(){
  var scrollLock = false;
  var lastScrollTop = 0;
  var initial_slide, background_color;
  var p_page = getCookie('p_page');
  setCookie('p_page', '', -1);
  lazyImageCall();

  {% for cate in categories %}
    if (p_page == '{{cate.category}}') {
      initial_slide = {{forloop.counter}}-1; background_color = '{{cate.color}}';
      var position = 0;
      for (i=0; i < (parseInt(initial_slide)-1); i++) {
        position += Math.ceil($("#main_navi a:eq("+(i)+")").outerWidth())+3;
      }
      $('#main_navi').animate({scrollLeft: position}, 300);
      $('#id_category option:contains('+'{{cate.category}}'+')').prop('selected', true);
      // changeThemeColor(background_color);
    };
  {% endfor %}
  
  if (initial_slide != undefined ){
    $('.main_navi > a').removeClass('slick_select');
  }
  else{
    $("#id_category option[value='1']").prop('selected', true);
  };

  $(".main_navi").css('background-color', background_color);
  $(".main_navi a:eq("+(parseInt(initial_slide))+")").addClass('slick_select');

  $('#body_div_slick').slick({
    initialSlide: initial_slide,
    slidesToShow: 1,
    slidesToScroll: 1,
    lazyLoad: 'ondemand',
    arrows: false,
    infinite: false,
    fade: false,
    adaptiveHeight: true,
    touchThreshold: 2,
    fade: false,
  });

  $('.main_navi_item').on('click',function(event) {
    event.preventDefault();
    slideIndex = $(this).index();
    $('a').removeClass('slick_select');
    $(this).addClass('slick_select');
    $('#body_div_slick').slick('slickGoTo', slideIndex, true); 
    lazyImageCall();
  });
  
  $('#body_div_slick').on('beforeChange', function(event, slick, currentSlide, nextSlide){
    if (currentSlide != nextSlide){
      var background_color = '';
      {% for cate in categories %}
        if (currentSlide == {{forloop.counter}}-1){background_color = '{{cate.color}}'};
      {% endfor %}
      $('.main_navi').css('background-color', background_color);
      $('.main_nav_slick').css('background-color', background_color);
      if ($('.main_navi_item').hasClass('slick_select')) {
        $('a').removeClass('slick_select');
        $(".main_navi a:eq("+(parseInt(nextSlide))+")").addClass('slick_select');
      };
      if(scrollLock == false){
        if (window.pageYOffset >= sticky) {
          $('html,body').animate({scrollTop: 0}, 400);
        };
      };
      scrollLock = false;
      lazyImageCall();
      // changeThemeColor(background_color);
      var category = $(".main_navi a:eq("+(parseInt(nextSlide))+")").text().capitalizeFirstLetter();
      $('#id_category option:contains('+category+')').prop('selected', true);
      var slideIndex = nextSlide;
      var position = 0;
      for (i=0; i < (parseInt(slideIndex)-1); i++) {
        position += Math.ceil($("#main_navi a:eq("+(i)+")").outerWidth())+3;
      }
      $('#main_navi').animate({scrollLeft: position}, 300);
    };
  });

  $(".listicle_slider").owlCarousel({
    margin:0,
    nav:false,
    dots: false,
    items:1,
    margin:0,
    loop: true,
    autoplay: true,
    autoplayTimeout: 4000,
    autoHeight: false,
    autoHeightClass: true,
    touchDrag: true,
    responsiveClass:true,
    responsive:{
        600:{
            dots:true,
        } 
    }
  });

  $(".recomd_Thumbs").owlCarousel({
    loop:false,
    nav:false,
    dots:false,
    responsiveClass:true,
    responsive:{
        0:{
            items:3,
            margin:5,
            stagePadding:0,
        },
        600:{
            dots:true,
            items:3,
            margin:5,
            stagePadding:0,
        } 
    }//,
     // onChanged: changeCallback
  });

  $('.innerSlider').on('touchstart touchmove mousemove mouseenter', function(e) {
    $('#body_div_slick').slick('slickSetOption', 'swipe', false, false);
  });

  $('.innerSlider').on('touchend mouseover mouseout', function(e) {
    $('#body_div_slick').slick('slickSetOption', 'swipe', true, false);
    scrollLock = true;
  });

  $(window).on('scroll', function() {
      st = $(this).scrollTop();
      if(st < lastScrollTop) {
        $("#tip_write").show();
      }
      else {
        $("#tip_write").hide();            
      }
      lastScrollTop = st;
  });

  $("#tip_write").on('click', function(){
    var value = $('#id_title').val();
    tipTitleCheckAjax(value);
    var id = "tips_ModalTitle";
  });

  $("#id_title").keyup(function(e){
    var value = $(this).val();
    tipTitleCheckAjax(value);
  });

  $('input:radio[name="star"]').on('change',function(){
    $('#id_rating').val($('input:radio[name="star"]:checked').val());
  });

  $('#submitbtn').on('click', function(){
    if($('#id_category').val() == ''){
      $('#category_tooltip').tooltip('show');
    }
    else if($('#id_title').val() == ''){
      $('#id_title').tooltip('show');
    }
    else if($('#id_text').val() == ''){
      $('#text_tooltip').tooltip('show');
    }
    else {
      $('#user_write_form').submit();
    }
    setTimeout(function(){
      $('#category_tooltip').tooltip('hide');
      $('#id_title').tooltip('hide');
      $('#text_tooltip').tooltip('hide');
    },1000);
  });

  $.when($("#loading_overay").fadeOut('500')).done(function(e){
    $('body').css("overflowY", "auto");
  });

  // show_owl_dots();
  // nav_next_adjust(26);
});

$(window).on('load', function(){
    setTimeout(function(){
    $('iframe').contents().find('.note-editable').css('height','355px');  
    }, 500);
  });

function changeCallback(event){
  nav_next_adjust(20);
}

function nav_next_adjust(adjust_width){
  var next_nav = Math.floor($('.recomd_Thumbs').width());
  $('.recomd_Thumbs .owl-next').css('left',(next_nav-adjust_width+'px'));
  if ($('body').width() > 768) {
    $('.recomd_Thumbs .owl-nav').css('display', 'block');
  }
  else {
    $('.recomd_Thumbs .owl-nav').css('display', 'none');
  }
}

function show_owl_dots(){
  if ($('body').width() > 768) {
    $('.owl-dots').css('display', 'block');
  }
  else {
    $('owl-dots').css('display', 'none');
  }
}

function capitalizeFirstLetter(string) {
    return string.charAt(0).toUpperCase() + string.slice(1).toLowerCase();
}

String.prototype.capitalizeFirstLetter = function() {
    return this.charAt(0).toUpperCase() + this.slice(1).toLowerCase();
}

</script>

{% endblock %}
