{% extends 'base.html' %}

{% block headAddon %}
<style>

.outtercontainer {
    padding: 16px;
    background-color: white;
    border:5px solid black;
}

</style>
{% endblock %}

{% block content %}
<div class="container">
	<div class="outtercontainer">
	  <p>
	    We've emailed you instructions for setting your password, if an account exists with the email you entered.
	    You should receive them shortly.
	  </p>
	  <p>
	    If you don't receive an email, please make sure you've entered the address you registered with,
	    and check your spam folder.
	  </p>
	</div>
</div>
{% endblock %}