{% extends 'base.html' %}

{% block headAddon %}
<style>

.outtercontainer {
    padding: 16px;
    background-color: white;
    border:5px solid black;
}

/* Full-width input fields */
input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit button */
.registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
.registerbtn:hover {
    opacity: 1;
}

/* Style the input fields */
.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
button:hover {
    opacity: 1;
}
</style>
{% endblock %}

{% block content %}
<div class="container">
	<div class="outtercontainer">
	  <h3 style="text-align: center">Reset Password</h3>
	  <form method="post">
	    {% csrf_token %}
	    {{ form.as_p }}
	    <button type="submit">Submit</button>
	  </form>
	</div>
</div>
{% endblock %}

{% block additional_script %}
<script>
$(document).ready(function(){
	if($('ul').length != 0 ){
		$('ul').html(`<li>Your password<span style="color:#f97f7f"> can't be too similar</span> to your other personal information.</li>
					<li>Your password must contain<span style="color:#f97f7f"> at least 8</span> characters.</li>
					<li>Your password<span style="color:#f97f7f"> can't be a commonly used</span> password.</li>
					<li>Your password can't be<span style="color:#f97f7f"> entirely</span> numeric.</li>`);

		$('label').css('display','none');
		$("#id_new_password1").attr('placeholder',' Enter New Password');
		$("#id_new_password2").attr('placeholder',' Repeat New Password');
		$("#id_new_password1").before(`<br><span class="password1_feeback_text"></span>`);
		$("#id_new_password2").before(`<br><span class="password2_feeback_text"></span>`);

		$("#id_new_password1").keyup(function(e){
			var value = $(this).val();
			if (value.length < 8 && value.length > 0 ) {
				$('.password1_feeback_text').css('color','#FF7878');
				$('.password1_feeback_text').text("It must contain at least 8 characters.");
				$('#id_new_password1').css('background-color', '#FF7878');
				$('.registerbtn').prop("disabled", true);
			}
			if (e.which === 32) {
	            $('.password1_feeback_text').css('color','#FF7878');
	            $('.password1_feeback_text').text("No white spaces allowed");
	            value = value.replace(/\s/g,'');
	            $(this).val(value);            
	        }
	        if ((isNaN(value) == false) && value.length > 7){
				$('.registerbtn').prop("disabled", true);
				$('#id_new_password1').css('background-color', '#FF7878');
				$('.password1_feeback_text').text("It can't be entirely numeric");
			}
			if (isNaN(value) && (value.length > 7)){
				$('#id_new_password1').css('background-color', '#7CFFBB');
				$('.registerbtn').prop("disabled", false);
			}
			if (value.length > 7 && (isNaN(value))) {
				$('.password1_feeback_text').text("");
				$('.registerbtn').prop("disabled", false);
			}
			if(value.length == 0) {
				$('#id_new_password1').css('background-color', '#F1F1F1');
				$('.password1_feeback_text').text("");
			}
		});

		$("#id_new_password2").keyup(function(e){
			var password2 = $(this).val();
			var password1 = $('#id_new_password1').val();

			if (password1 === password2){
				$('.password2_feeback_text').text("");
				$('#id_new_password2').css('background-color', '#7CFFBB');
				$('button').prop("disabled", false);
			}
			else {
				$('.password2_feeback_text').css('color','#FF7878');
				$('.password2_feeback_text').text("Password doesn't match to above one.");
				$('#id_new_password2').css('background-color', '#FF7878');
				$('button').prop("disabled", true);
			}

			if (password2.length == 0){
				$('#id_new_password2').css('background-color', '#F1F1F1');
			}
		});
	}
	else {
		$('label').css('display','none');
		$("#id_email").attr('placeholder','Enter the email you registered with');
	}

});
</script>
{% endblock %}