{% extends "base.html" %}
{% load static %}

{% block title %}{% endblock %}

{% block headAddon %}
<style>
.init{
	display:none;
}
.fade {
	background-image: url("{% static 'Images/south-korea-travel.jpg' %}");
	background-repeat: repeat;
	width:100%;
	height:100%;
}

@media only screen and (max-width: 600px){
	table th{
		font-size:13px;
	}
	table td{
		font-size:10px;
	}
}
</style>

{% endblock %}

{% block content %}
<div class="container" style="width:100%" >
	<div class="rewidth" style="border: 0px solid blue; height: 100%; margin: 0 auto" >
		<!-- Button trigger modal -->
		<button type="button" class="btn btn-primary init" data-toggle="modal" data-target="#message" >
		  Launch demo modal
		</button>

		<!-- Modal -->
		<div class="modal fade" id="message" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="messageLabel">A email has been sent</h5>
		      </div>
		      <div class="modal-body">
		        <span style="font-weight:bold;font-size:15px;">Please confirm the email. address to complete the registration.</span><br>
		        <span style="font-weight:bold;font-size:15px; color:#F98387">* Please check junk box in case of you can't find the email.</span>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-primary" style="background-color:#4DC7A0" data-dismiss="modal" onclick="location.href='https://ktripguide.com'">OK</button>
		      </div>
		    </div>
		  </div>
		</div>
	</div>


</div>
{% endblock %}

{% block additional_script %}
<script>
// updateBtn();
$(document).ready(function(){
	$('.init').click();
	$('.fade').on('click',function(){
		location.href = "/";
	});
});

</script>
{% endblock %}

{% block footer %}{% endblock %}
