{% extends "base.html" %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block headAddon %}
<style>
.outtercontainer {
	width: 90%;
  padding: 16px;
  background-color: white;
  border:0px solid #F1F1F1;
}

.gender_container {
  float:left;
  position: relative;
  padding-left: 35px;
  padding-right:20px;
  cursor: pointer;
  font-size: 17px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.gender_container:last-child {
  float:none;
}
/* Hide the browser's default radio button */
.gender_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.gender_container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.gender_container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.gender_container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.gender_container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
label {
	font-weight: bold;
}
form a {
	font-size: 9px;
}
/* Full-width input fields */
input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding:10px;
    margin: 5px 0 0px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus ,input[type=email]:focus {
    background-color: #ddd;
    outline: none;
}
</style>
<script>
function bs_input_file() {
  $(".input-file").before(
    function() {
      if ( ! $(this).prev().hasClass('input-ghost') ) {
        var element = $("<input type='file' class='input-ghost' style='visibility:hidden; height:0'>");
        element.attr("name",$(this).attr("name"));
        element.change(function(){
          element.next(element).find('input').val((element.val()).split('\\').pop());
        });
        $(this).find("button.btn-choose").click(function(){
          element.click();
        });
        $(this).find("button.btn-reset").click(function(){
          element.val(null);
          $(this).parents(".input-file").find('input').val('');
          $('input:checkbox[id="picture-clear_id"]').prop("checked",true);
        });
        $(this).find('input').css("cursor","pointer");
        $(this).find('input').mousedown(function() {
          $(this).parents('.input-file').prev().click();
          return false;
        });
        return element;
      }
    }
  );
}
</script>
{% endblock %}

{% block content %}

<div class="rewidth" style="padding:3px 3px">
	<form method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<span style="display:block;font-weight:bold;">Picture:</span>
		<div class="input-group input-file" name="picture" id="id_picture" style="margin-top:-20px;margin-bottom:10px;">
          <span class="input-group-btn">
            <button class="btn btn-primary btn-choose" type="button" style="font-size: 20px"><i class="fas fa-user-alt"></i></button>
          </span>
          <input id="_file" type="text" style="border:0px solid red;height:43px; margin-top:0px" class="form-control" placeholder='Choose a file...' />
          <span class="input-group-btn">
             <button class="btn btn-warning btn-reset" type="button" style="color:white;font-size: 21px"><i class="fas fa-eraser"></i></button>
          </span>
        </div>
        <input type="checkbox" name="picture-clear" id="picture-clear_id" style="width:0; display:none">
		<p><label for="id_firstname">Firstname</label> <input type="text" name="firstname" value="{{form.firstname.value}}" maxlength="50" id="id_firstname" /></p>
		<p><label for="id_lastname">Lastname</label> <input type="text" name="lastname" value="{{form.lastname.value}}" maxlength="50" id="id_lastname" /></p>
		<p><label for="id_gender">Gender</label></p>
    <p >
      <label class="gender_container">Male
        <input type="radio" name="gender" value="Male">
        <span class="checkmark"></span>
      </label>
      <label class="gender_container">Female
        <input type="radio" name="gender" value="Female">
        <span class="checkmark"></span>
      </label>
      <label class="gender_container">Others
        <input type="radio" name="gender" value="Others">
        <span class="checkmark"></span>
      </label>
    </p>
		<p><label for="id_city">City</label> <input type="text" name="city" value="{{form.city.value}}" maxlength="100" id="id_city" /></p>
		<p><label for="id_locale">Locale</label> <input type="text" name="locale" value="{{form.locale.value}}" maxlength="50" id="id_locale" ></p>
		<p><label for="id_phone">Phone</label> <input type="text" name="phone" value="{{form.phone.value}}" maxlength="50" id="id_phone" /></p>
		
	<button type="submit" style="background-color:#4DC7A0;color:white; border:0; border-radius:5px; cursor:pointer; padding:10px 10px;width:100%">SAVE</button>
	</form>
</div>

{% endblock %}

{% block additional_script %}
<script>
updateBtn();
$(document).ready(function(){
  bs_input_file();
  var aTag = `{{form.picture.value}}`.split("/").pop(-1);
  $('#_file').val(aTag);

  if ('{{form.gender.value}}'.capitalizeFirstLetter() == 'Male') {
    $('input:radio[value="Male"]').prop('checked', true);
  }
  else if (('{{form.gender.value}}'.capitalizeFirstLetter() == 'Female')) {
    $('input:radio[value="Female"]').prop('checked', true);
  }
  else {
    $('input:radio[value="Others"]').prop('checked', true);
  };
 });

function capitalizeFirstLetter(string) {
    return string.charAt(0).toUpperCase() + string.slice(1).toLowerCase();
}

String.prototype.capitalizeFirstLetter = function() {
    return this.charAt(0).toUpperCase() + this.slice(1).toLowerCase();
}
</script>
{% endblock %}
{% block footer %}{% endblock %}