{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block headAddon %}
<style>
.outtercontainer {
    padding: 16px;
    background-color: white;
    border:5px solid black;
}
/* Full-width input fields */
input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus ,input[type=email]:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
.registerbtn:hover {
    opacity: 1;
}

.signin {
    background-color: #f1f1f1;
    text-align: center;
}
/* Style the input container */
.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

/* Style the form icons */
.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

/* Style the input fields */
.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}
</style>
{% endblock %}

{% block content %}
<div class="container">
	<div class="outtercontainer">
	    <h1 style="text-align: center">Register</h1>
	    <p>Please fill in this form to create an account.</p>
	    <hr>		  
	    <form method="post">
	    	{% csrf_token %}
	    	
		    <label for="id_username"><b>Username</b></label>
		    <br>
		    <span class="username_helptext">
		    	<span style="color:#f97f7f">*Required*</span> 
		    	<ul style="padding-left:20px">
		    		<li>150 characters or fewer.<br> 
		    		Letters, digits and @/./+/-/_ only.		 
		    		</li>
		    	</ul>
	    	</span>
	    	<span class="username_ajax_feeback_text"></span>
			<input type="text" name="username" placeholder="Enter User Name" maxlength="150" autofocus="" required="" id="id_username">
			
			<!-- <label for="id_first_name"><b>First name</b></label>
			<input type="text" name="first_name" maxlength="30" id="id_first_name">

			<label for="id_last_name"><b>Last name</b></label>
			<input type="text" name="last_name" maxlength="150" id="id_last_name"> -->
		    
		    <label for="id_email"><b>Email</b></label>
		    <br>
		    <span class="email_ajax_feeback_text"></span>
		    <input type="email" name="email" placeholder="Enter Email" required="" id="id_email">

		    <label for="password1"><b>Password</b></label>
		    <br>
		    <span class="password1_feeback_text"></span>
		    <input class="password" type="password" placeholder="Enter Password" name="password1" required="" id="id_password1">

		    <label for="password2"><b>Repeat Password</b></label>
		    <br>
		    <span class="password2_feeback_text"></span>
		    <input class="password" type="password" placeholder="Repeat Password" name="password2" required="" id="id_password2">
		    <span class="password_helptext" style="display: none">
		    	<ul style="padding-left:20px">
		    		<li>Your password<span style="color:#f97f7f"> can't be too similar</span> to your other personal information.</li>
		    		<li>Your password must contain<span style="color:#f97f7f"> at least 8</span> characters.</li>
		    		<li>Your password<span style="color:#f97f7f"> can't be a commonly used</span> password.</li>
		    		<li>Your password can't be<span style="color:#f97f7f"> entirely</span> numeric.</li>
		    	</ul>
		    </span>
		    <hr>
		    <p>By creating an account you agree to our <a href="#" style="color: dodgerblue">Terms & Privacy</a>.</p>

			<label for="id_terms">Terms of sevice:</label>
			<input type="checkbox" name="terms" required="" id="id_terms">

			<label for="id_privacy">Privacy policy:</label>
			<input type="checkbox" name="privacy" required="" id="id_privacy">

		    <button type="submit" class="registerbtn">Register</button>
		</form>
	    <div class="container signin" style="padding: 16px">
	      <p>Already have an account? <a href="{% url 'accounts:account_login' %}" style="color: dodgerblue">Sign in</a>.</p>
	    </div>
	  </div>
</div>
{% endblock %}

{% block additional_script %}
<script>
$(document).ready(function(){

	$('#id_username').focusin(function(){
		$('.username_helptext').show();
	});
	$('#id_username').focusout(function(){
		$('.username_helptext').hide();
	});
	$('.password').focusin(function(){
		$('.password_helptext').show();
	});
	$('.password').focusout(function(){
		$('.password_helptext').hide();
	});

	$("#id_username").keyup(function(e){
		var value = $(this).val();
		var username_check = {};
		username_check.csrfmiddlewaretoken = '{{csrf_token}}';
		username_check.username = value;
		if (value ==''){
			$('.username_ajax_feeback_text').text("");
			$('#id_username').css('background-color','#F1F1F1');
		}
		else if (e.which === 32) {
            $('.username_ajax_feeback_text').css('color','#FF7878');
            $('.username_ajax_feeback_text').text("No white spaces allowed");
            value = value.replace(/\s/g,'');
            $(this).val(value);            
        }
        else {      
			$.ajax({
				url:"{% url 'accounts:usernameCheckAjax' %}",
				method:"post",
				data: username_check,
				success: function(res){
					console.log(res)
					if (res == 'good'){
						$('.username_ajax_feeback_text').text("");
						$('#id_username').css('background-color', '#7CFFBB');
						$('.registerbtn').prop("disabled", false);
					}
					else {
						$('.username_ajax_feeback_text').css('color','#FF7878');
						$('.username_ajax_feeback_text').text(value +" aleady exists");
						$('#id_username').css('background-color', '#FF7878');
						$('.registerbtn').prop("disabled", true);
					}
					
				},error: function(error){
					console.log("error",error);
				}
			}); 
		}
	});
	$("#id_email").keyup(function(e){
		var value = $(this).val();
		console.log(value);
		var email_check = {};
		email_check.csrfmiddlewaretoken = '{{csrf_token}}';
		email_check.email = value;
		if (value ==''){
			$('#id_email').text("");
			$('#id_email').css('background-color','#F1F1F1');
		}
		else if (e.which === 32) {
            $('.email_ajax_feeback_text').css('color','#FF7878');
            $('.email_ajax_feeback_text').text("No white spaces allowed");
            value = value.replace(/\s/g,'');
            $(this).val(value);            
        }
        else {      
			$.ajax({
				url:"{% url 'accounts:emailCheckAjax' %}",
				method:"post",
				data: email_check,
				success: function(res){
					console.log(res)
					if (res == 'good'){
						$('.email_ajax_feeback_text').text("");
						$('#id_email').css('background-color', '#7CFFBB'); 
						$('.registerbtn').prop("disabled", false);
					}
					else {
						$('.email_ajax_feeback_text').css('color','#FF7878');
						$('.email_ajax_feeback_text').text(value +" aleady in use");
						$('#id_email').css('background-color', '#FF7878');
						$('.registerbtn').prop("disabled", true);
					}
					
				},error: function(error){
					console.log("error",error);
				}
			}); 
		}
	});
	$("#id_password1").keyup(function(e){
		var value = $(this).val();
		var username = $('#id_username').val();
		var raw_email = $('#id_email').val();
		var email_head = raw_email.split("@")[0];
		var similar_check1 = value.search(new RegExp(username,'i'));
		var similar_check2 = value.search(new RegExp(email_head,'i'));
		console.log('value->',value.length,similar_check1,similar_check2);

		if (value.length < 8 && value.length > 0 ) {
			$('.password1_feeback_text').css('color','#FF7878');
			$('.password1_feeback_text').text("It must contain at least 8 characters.");
			$('#id_password1').css('background-color', '#FF7878');
			$('.registerbtn').prop("disabled", true);
		}
		if (e.which === 32) {
            $('.password1_feeback_text').css('color','#FF7878');
            $('.password1_feeback_text').text("No white spaces allowed");
            value = value.replace(/\s/g,'');
            $(this).val(value);            
        }

        if ((isNaN(value) == false) && value.length > 7){
			$('.registerbtn').prop("disabled", true);
			$('#id_password1').css('background-color', '#FF7878');
			$('.password1_feeback_text').text("It can't be entirely numeric");
		}
		if (isNaN(value) && (value.length > 7)){
			$('#id_password1').css('background-color', '#7CFFBB');
			$('.registerbtn').prop("disabled", false);
		}
		if ((similar_check1 == -1) && (similar_check2 == -1) && (value.lenght > 7)){
			$('#id_password1').css('background-color', '#7CFFBB');
			$('.registerbtn').prop("disabled", false);
		}
		if (value.length > 7 && (isNaN(value))) {
			$('.password1_feeback_text').text("");
			$('.registerbtn').prop("disabled", false);
		}
		if ((similar_check1 != -1) || (similar_check2 != -1)){
			$('#id_password1').css('background-color', '#FF7878');
			$('.password1_feeback_text').text("It can't be similar to your another imformation.");
			$('.registerbtn').prop("disabled", true);
		}
		if(value.length == 0) {
			$('#id_password1').css('background-color', '#F1F1F1');
			$('.password1_feeback_text').text("");
		}
	});
	$("#id_password2").keyup(function(e){
		var password2 = $(this).val();
		var password1 = $('#id_password1').val();
		var username = $('#id_username').val();
		var raw_email = $('#id_email').val();
		var email_head = raw_email.split("@")[0];
		var similar_check1 = password1.search(new RegExp(username,'i'));
		var similar_check2 = password1.search(new RegExp(email_head,'i'));

		if (password1 === password2){
			$('.password2_feeback_text').text("");
			$('#id_password2').css('background-color', '#7CFFBB');
			$('.registerbtn').prop("disabled", false);
		}
		else {
			$('#id_password2').css('background-color', '#FF7878');
			$('.password2_feeback_text').css('color','#FF7878');
			$('.password2_feeback_text').text("Password doesn't match to above one.");
			$('.registerbtn').prop("disabled", true);
		}
		if ((similar_check1 != -1) || (similar_check2 != -1)){
			$('#id_password2').css('background-color', '#FF7878');
			$('.password1_feeback_text').text("It can't be similar to your another imformation.");
			$('.password2_feeback_text').text("It can't be similar to your another imformation.");
			$('.registerbtn').prop("disabled", true);
		}
		if (password2.length == 0){
			$('#id_password2').css('background-color', '#F1F1F1');
			$('.password2_feeback_text').text("");
		}
	});
});

</script>
{% endblock %}
{% block footer %}{% endblock %}