[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/srv/venv1/bin/uwsgi -i /srv/DW/.config/uwsgi/DW.ini

Group=www-data
Restart=on-failure
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target