<!-- card image slide  
         <div class="owl-carousel owl-theme" style="border: 0px solid red; background-color: #ccccb3; width:100%;height:100%; margin: 0 auto; margin-top: 15px">
            {% for images in article_subway.image_set.all %}
              <div style="border: 0px solid red; background-color: #4DC7A0; width:100%; height: 100%; float: left; ">
                <img style="width:100%; height:100%" src="{{images.thumnails.url}}"/>
              </div>
            {% endfor %}
          </div> -->
          <div style="margin-top:0px; border: 0px solid red; width:100%; height:520px">
            ■Subway - {{article_subway.title}}
            <img style="width:100%; height:490px" src="{{article_subway.image_set.first.file.url}}"/>
          </div>
          <div style=" display: none; position:relative; top: -200px; border: 0px solid orange; background-color: #99ebff; width: 95%; height:100px; margin: 0 auto; margin-top: 10px;">
            <textarea readonly style='width:100%; height:100%; overflow: hidden'>{{article_subway.text}}</textarea>
          </div>
          <div style="margin-top:10px;">
            <span id="views_{{article_subway.id}}" class="badge badge-light">Views {{article_subway.views}}</span>
            <!-- <span><img src="{% static 'octicons-6.0.1\libs\svg\heart.svg' %}" width="20" height="20"/></span> -->
            <span id="likes_{{article_subway.id}}" onclick="likesUpdate({{article_subway.id}})" class="badge badge-light" style="margin-left: 15%">
                Likes {{article_subway.likes.count}}
            </span>
            <span style="margin-left: 15%">shares</span>
            <span style="margin-left: 15%">carrier</span>
            <br>
          </div>
          <div style="position:relative; border: 0px solid red">
            <div style="position:relative; top:-200px; right: 10px; border: 0px solid black ; width: 80px; float: right"> 
              <button onclick="articleText_call({{article_subway.id}})" data-toggle="modal" data-target="#tips" type="button" class="btn" style="width: 80px; background-color: rgba(255, 255, 255, 0.5);">글보기</button>
            </div>
            <div style="position:relative; top:-150px; right:-70px; border: 0px solid black; width:80px; float:right">
              <button type="button" class="btn" style="width: 80px; background-color: rgba(255, 0, 0, 0.5);"> 사진 </button>
            </div>
            <div style="position:relative; top:-100px; right:-150px; border: 0px solid black; width:80px; float:right">  
              <button type="button" class="btn" style="width: 80px; background-color: rgba(255, 135, 0, 0.5);"> 담기 </button>
            </div>
          </div>




          <div class="container">
          <div class="row">
            <div class="col-md-4" > 
              <div style="margin-top:0px; border: 0px solid red; width:135px; height:95px;">
                <img style="width:100%; height:100%" src="{{article_subway.image_set.first.thumnails.url}}"/>
              </div>
              <div style="border: 1px solid orange; width: 60%; height:90px; margin-left:7px;">
                ■Subway - {{article_subway.title}}
                <textarea readonly style='width:100%; height:100%; overflow: hidden'>{{article_subway.text}}</textarea>
              </div>
            </div>
          </div>
        </div>

{% extends "base.html" %}
{% load static %}
{% load jb_replace %}

{% block headAddon %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'slick/1.8.0/slick/slick.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'slick/1.8.0/slick/slick-theme.css' %}"/>

<style>
/*body {
  overflow: hidden;
}*/
* {box-sizing: border-box;}
.wrapper {
  max-width: 940px;
  margin: 0 auto;
  border: 1px solid red;
}

.wrapper > div {
  border: 2px solid rgb(233,171,88);
  border-radius: 5px;
  background-color: rgba(233,171,88,.5);
  padding: 1em;
  color: #d9480f;
}.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.one {
  grid-column: 1 / 2;
  grid-row: 1;
}
.two { 
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}
.three {
  grid-column: 1;
  grid-row: 2 / 5;
}
.four {
  grid-column: 3;
  grid-row: 3;
}
.five {
  grid-column: 2;
  grid-row: 4;
}
.six {
  grid-column: 3;
  grid-row: 4;
}
.seven {
  grid-column: 2;
  grid-row: 3;
}

div.tips {
  background-color: #ddffff!important;
  border: 0px solid red;
  padding: 7px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
 }

div.listicle {
  background-color: #ddffff!important;
  border: 0px solid red;
  padding: 7px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
 }

 div.tips_box {
  background-color: white;
  border: 0px solid red;
  padding: 20px;
  width: 100%;
  height: 300px;
  margin: 0 auto;
 }

 div.listicle_box {
  background-color: white;
  border: 0px solid red;
  padding: 20px;
  width: 100%;
  height: 300px;
  margin: 0 auto;
 }

.circle_outter{
  width: 50%;
  border: 0px solid red; 
  display: table-cell;
  vertical-align: middle; 
  text-align: center; 
  padding: 0px 0; 
}

.circle_item {
  height: 100px;
  width: 100px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 0 auto;
}

.circle_label {
  border: 0px solid red; 
  margin-top: -10px
}

.sticky {
  position:fixed;
  top: 47px;
  background-color:#4DC7A0; 
  z-index:99; 
  border: 0px solid red ;
  width:100% ;
  height:50px; 
  text-align: center;
  margin-top: 10px
}

 .slick_select {
  border-bottom: 4px solid white ;
  font-weight: bold;
  text-decoration: none;
}

.main_nav_slick {
  border:0px solid red; 
  background-color:#4DC7A0; 
  text-align:center;
}

.main_nav_item {
/*  border-radius: .50rem;*/
  color: white;
  font-weight: bold;
  height:50px; 
}
a * {
  color: #333333;
  text-decoration: none;
}


.slick-slider * { outline: none; }

.slick-slide {
    margin-left:1px;
  }
.slick-list {
    margin-left:-1px;
  }
#tips_ModalText {
    white-space: pre-wrap;
}
</style>
{% endblock %}
{% block title %} 
  DUCKWHO
{% endblock %}

{% block content %}
<div /*class="container"*/ style="border: 0px solid blue; width:100%; height: 90%">
  
  <!-- 
  <div class="tips">
    <h4>Tips</h4>
  </div>
  <div class="tips_box">
    <div class="row" style="height:49%">
      <div class="circle_outter">
        <a href="{% url 'tips:subway' %}">
        <div class="circle_item">
        </div>
        <div class="circle_label">
          Subway
        </div>
        </a>
      </div>
      <div class="circle_outter">
        <a href="">
        <div class="circle_item">
        </div>
        <div class="circle_label">
          Taxi
        </div>
        </a>
      </div>
    </div> 
    <div class="row" style="height:49%">
      <div class="circle_outter">
        <a href="">
        <div class="circle_item">
        </div>
        <div class="circle_label">
          Bus
        </div>
        </a>
      </div>
      <div class="circle_outter">
        <a href="">
        <div class="circle_item">
        </div>
        <div class="circle_label">
          Life
        </div>
        </a>
      </div>
    </div>
  </div>
  <div class="listicle">
    <h4>Listicle</h4>
  </div>
  <div class="listicle_box">
    <div class="row" style="height:50%">
      <div class="circle_outter">
        <div class="circle_item">
        </div>
        <div class="circle_label">
          Food
        </div>
      </div>
      <div class="circle_outter">
        <div class="circle_item">
        </div>
        <div class="circle_label">
          Shooping
        </div>
      </div>
    </div> 
    <div class="row" style="height:50%">
      <div class="circle_outter">
        <div class="circle_item">
        </div>
        <div class="circle_label">
          Tour
        </div>
      </div>
      <div class="circle_outter">
        <div class="circle_item">
        </div>
        <div class="circle_label">
          Activity
        </div>
      </div>
    </div>
  </div> -->

  <!-- 
  <div  class="jumbotron p-3 p-md-5 text-white rounded bg-dark" style="margin-top: 10px; margin-bottom: 2px" >
    <a href="{% url 'tips:subway' %}">
    <div class="col-md-6 px-0">
      <h1 class="display-6 font-italic">Subway</h1>
      <p class="lead my-0"></p>
      <p class="lead mb-0"></p>
    </div>
    </a>
  </div>

  <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark" style="margin-bottom: 2px">
    <div class="col-md-6 px-0">
      <h1 class="display-6 font-italic">Food</h1>
      <p class="lead my-0"></p>
      <p class="lead mb-0"></p>
    </div>
  </div>
  -->
  <!-- 
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table> 
  -->
  <!-- <div class="wrapper">
    <div class="one">One</div>
    <div class="two">Two</div>
    <div class="three">Three</div>
    <div class="four">Four</div>
    <div class="five">Five</div>
    <div class="six">Six</div>
    <div class="seven">seven</div>
  </div>
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 font-weight-normal">Punny headline</h1>
      <p class="lead font-weight-normal">And an even wittier subheading to boot. Jumpstart your marketing efforts with this example based on Apple's marketing pages.</p>
      <a class="btn btn-outline-secondary" href="#">Coming soon</a>
    </div>
    <div class="product-device box-shadow d-none d-md-block"></div>
    <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
  </div>
  <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Another headline</h2>
        <p class="lead">And an even wittier subheading.</p>
      </div>
      <div class="bg-light box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Another headline</h2>
        <p class="lead">And an even wittier subheading.</p>
      </div>
      <div class="bg-dark box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
  </div>

  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    Launch demo modal
  </button> -->

  <!-- Modal -->
  <!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Modal title</h4>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper">
    <div class="one">One</div>
    <div class="two">Two</div>
    <div class="three">Three</div>
    <div class="four">Four</div>
    <div class="five">Five</div>
    <div class="six">Six</div>
    <div class="seven">seven</div>
  </div>
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 font-weight-normal">Punny headline</h1>
      <p class="lead font-weight-normal">And an even wittier subheading to boot. Jumpstart your marketing efforts with this example based on Apple's marketing pages.</p>
      <a class="btn btn-outline-secondary" href="#">Coming soon</a>
    </div>
    <div class="product-device box-shadow d-none d-md-block"></div>
    <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
  </div>
  <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Another headline</h2>
        <p class="lead">And an even wittier subheading.</p>
      </div>
      <div class="bg-light box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Another headline</h2>
        <p class="lead">And an even wittier subheading.</p>
      </div>
      <div class="bg-dark box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
  </div> -->

<!--   <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    Launch demo modal
  </button> -->

  <!-- Modal -->
  <div class="modal fade" id="tips" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
      <div class="modal-content" style="height:100%">
        <div class="modal-header">
          <div style="border: 0px solid red; float:left"> 
            <h4 class="modal-title" id="tips_ModalTitle" style="color:black">Modal title</h4>
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="z-index:999;  color: rgba(255, 0, 0, 2);"><span aria-hidden="true">&times;</span></button>
        </div>
        <div id='tips_ModalText' class="modal-body" style="color:black">
         
        </div>
       <!--  <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div> -->
      </div>
    </div>
  </div>
  <div style="border:0px solid red; background-color: grey; width:100%; height:200px">
    {{ p_page }}
    <br>
  </div>
  <div id="main_nav_slick" class="main_nav_slick">
    <div class="main_nav_item slick_select" style="display: table"><span style="display: table-cell; vertical-align: middle">Subway</span></div>
    <div class="main_nav_item" style="display: table"><span style="display: table-cell; vertical-align: middle">Taxi</span></div>
    <div class="main_nav_item" style="display: table"><span style="display: table-cell; vertical-align: middle">Bus</span></div>
    <div class="main_nav_item" style="display: table"><span style="display: table-cell; vertical-align: middle">Life</span></div>
    <div class="main_nav_item" style="display: table"><span style="display: table-cell; vertical-align: middle">Food</span></div>
    <div class="main_nav_item" style="display: table"><span style="display: table-cell; vertical-align: middle">Shooping</span></div>
    <div class="main_nav_item" style="display: table"><span style="display: table-cell; vertical-align: middle">Tour</span></div>
    <div class="main_nav_item" style="display: table"><span style="display: table-cell; vertical-align: middle">Activity</span></div>
  </div>  
  <div class="container" style="border: 0px solid red ;width:100% ;height:100%;">
    <div id="body_div_slick" class="body_div_slick" style="border: 0px solid red ;width:100% ;height:100%;">


      <div class="subway" style="border: 0px solid red; margin-top: 7px; width:100%; height:100%;">
        <div class="row">
          {% for article_subway in subways %}
          
            <div class="col-md-6" style="border-bottom:1px solid #D3D3D3; background-color: #ffffff; width:100%; height:104px; margin-top: 10px"> 
              <a href="{% url 'tips:view_subway' pk=article_subway.id %}">
              <div style="margin-top:0px; border: 0px solid red; width:130px; height:95px; float:left">
                <img style="width:100%; height:100%" src="{{article_subway.image_set.first.thumnails.url}}"/>
              </div>
              <div style="border: 0px solid orange; width: 58%; height:70px; margin-left:7px; float:left; font-size: 15px;">
                <div style="border:0px solid blue; width:100%; font-weight: bold;">{{article_subway.title}}</div>
                <div style="font-size: 0.9em; margin-top:13px">{{article_subway.slug|_replace}}</div>
              </div>
              </a>
            </div>
          
          {% endfor %}
        </div>
      </div>


      <div class="taxi" style="border: 0px solid red ;height:100%">
        {% for article_taxi in taxis %}
        <div class="card" style="border: 0px solid red; background-color: #ccccb3; width:100%; margin-top: 15px">
          <div style="border:0px solid orange; width:100%">
            <div style="border:0px solid red;margin-top:0px; width:100%; height: 230px;">
              ■Taxi - {{article_taxi.title}}
              <img style="width:100%;height:200px" src="{{article_taxi.image_set.first.thumnails.url}}"/>
            </div>
            <div style="border: 0px solid orange; background-color: #99ebff; width: 95%; height:100px; margin: 0 auto; margin-top: 10px; float:left">
              <textarea readonly style='width:100%; height:100%; overflow: hidden'>{{article_taxi.text}}</textarea>
            </div>
          </div>
          <div>
            <span id="views_{{article_taxi.id}}" class="badge badge-light">Views {{article_taxi.views}}</span>
            <span id="likes_{{article_taxi.id}}" onclick="likesUpdate({{article_taxi.id}})" class="badge badge-light" style="margin-left: 15%">Likes {{article_taxi.likes.count}}</span>
            <span style="margin-left: 15%">shares</span>
            <span style="margin-left: 15%">carrier</span>
            <br>
          </div>
          <div style=" border: 0px solid orange; width: 100%; margin: 0 auto; text-align: center">
            <a href="{% url 'tips:view_taxi' pk=article_taxi.id %}">
            <button type="button" class="btn btn-primary" style="float:left" > 글보기 </button>
            </a>
            <button type="button" class="btn btn-warning" style="float: right"> 담기 </button>
          </div>
        </div>
      {% endfor %}
      </div>
      <div style="border: 0px solid red ;width:100%;height:100%">
        {% for article_bus in buses %}
         <div class="card" style="border: 0px solid red; background-color: #ccccb3; width:100%; margin-top: 15px"> 
          <div style="border:0px solid red;margin-top:0px; width:100%; height: 230px; margin:0 auto">
            ■Bus - {{article_bus.title}}
            <img style="width:100%;height:200px" src="{{article_bus.image_set.first.thumnails.url}}"/>
          </div>
          <div style="border: 0px solid orange; background-color: #99ebff; width: 95%; height:100px; margin: 0 auto; margin-top: 10px;">
            <textarea readonly style='width:100%; height:100%; overflow: hidden'>{{article_bus.text}}</textarea>
          </div>
          <div>
            <span id="views_{{article_bus.id}}" class="badge badge-light">Views {{article_bus.views}}</span>
            <span id="likes_{{article_bus.id}}" onclick="likesUpdate({{article_bus.id}})" class="badge badge-light" style="margin-left: 15%">Likes {{article_bus.likes.count}}</span>
            <span style="margin-left: 15%">shares</span>
            <span style="margin-left: 15%">carrier</span>
            <br>
          </div>
          <div style=" border: 0px solid orange; width: 100%; margin: 0 auto; text-align: center">
            <a href="{% url 'tips:view_bus' pk=article_bus.id %}">
            <button type="button" class="btn btn-primary" style="float:left" > 글보기 </button>
            </a>
            <button type="button" class="btn btn-warning" style="float: right"> 담기 </button>
          </div>
        </div>
      {% endfor %}
      </div>
      <div style="border: 0px solid red ;width:100%;height:100%">Life</div>
      <div style="border: 0px solid red ;width:100%;height:100%">Food</div>
      <div style="border: 0px solid red ;width:100%;height:100%">Shopping</div>
      <div style="border: 0px solid red ;width:100%;height:100%">Tour</div>
      <div style="border: 0px solid red ;width:100%;height:100%">Activity</div>
    </div>
  </div>
</div>
{% endblock %}

{% block additional_script %}
<script type="text/javascript" src="{% static 'slick/1.8.0/slick/slick.min.js' %}"></script>
<script>

$(document).ready(function(){
  var initial_slide;
  var p_page = getCookie('p_page');
  setCookie('p_page', '', -1);
  if (p_page == 'subway') {initial_slide = 0 };
  if (p_page == 'taxi') {initial_slide = 1 };
  if (p_page == 'bus') {initial_slide = 2 };
  if (p_page == 'life') {initial_slide = 3 };
  if (p_page == 'food') {initial_slide = 4 };
  if (p_page == 'shopping') {initial_slide = 5 };
  if (p_page == 'tour') {initial_slide = 6 };
  if (p_page == 'activity') {initial_slide = 7 };

  $('#main_nav_slick').on('init', function(event, slick){
    if (initial_slide != undefined ){$('div').removeClass('slick_select');};
    $("#main_nav_slick div:eq("+(parseInt(initial_slide)+2)+")").addClass('slick_select'); //when infinite mode is false
      // $('.slick-current').addClass('slick_select'); // when infinite mode is true 
  });

  $('#main_nav_slick').slick({
    initialSlide: initial_slide,
    arrows: false,
    dots: false,
    infinite: false,
    speed: 300,
    slidesToShow: 4,
    slidesToScroll: 1,
    adaptiveHeight: true,
    centerMode: false,
    focusOnSelect: true,
    swipeToSlide: true,
    accessibility: true,
    edgeFriction: 0.0,
  });
  

  $('#body_div_slick').slick({
    initialSlide: initial_slide,
    slidesToShow: 1,
    slidesToScroll: 1,
    lazyLoad: 'ondemand',
    arrows: false,
    infinite: false,
    fade: false,
    adaptiveHeight: true,
    touchThreshold: 2,
    fade: false,
    asNavFor: '#main_nav_slick'
  });

  $('#main_nav_slick').on('beforeChange', function(event, slick, currentSlide, nextSlide){
     // var offset = $('div.container').offset();
    if (window.pageYOffset >= sticky) {
      $('html,body').animate({scrollTop: 190}, 400);
    }
  });

  $('.main_nav_item').on('click',function(e) {
    e.preventDefault();
    slideIndex = $(this).index();
    $('div').removeClass('slick_select');
    $(this).addClass('slick_select');
    $('#main_nav_slick').slick('slickGoTo', slideIndex-1, true );
    $('#body_div_slick').slick('slickGoTo', slideIndex, true ); 
  });
 
  $('#body_div_slick').on('beforeChange', function(event, slick, currentSlide, nextSlide){
    if (window.pageYOffset >= sticky) {
      $('html,body').animate({scrollTop: 190}, 400);
     }
  });
  
  $('#body_div_slick').on('afterChange', function(event, slick, currentSlide){
    var background_color = '';
    if (currentSlide == 1){background_color = '#1F65A1'}
    else if (currentSlide == 2){background_color = '#FF00BF'}
    else if (currentSlide == 3){background_color = '#43A1B4'}
    else if (currentSlide == 4){background_color = '#FFBF00'}
    else if (currentSlide == 5){background_color = '#0000CC'}
    else if (currentSlide == 6){background_color = '#CC00FF'}
    else if (currentSlide == 7){background_color = '#FF6347'}
    else {background_color = '#4DC7A0'};
    $('#main_nav_slick').css('background-color', background_color);
    $('#main_nav_slick').slick('slickGoTo', currentSlide-1, true );
    if ($('.main_nav_item').hasClass('slick-current')) {
      $('div').removeClass('slick_select');
      $("#main_nav_slick div:eq("+(parseInt(currentSlide)+2)+")").addClass('slick_select'); //when infinite mode is false
      // $('.slick-current').addClass('slick_select'); // when infinite mode is true 
    }
    else {    };
    if (window.pageYOffset >= sticky) {
      $('html,body').animate({scrollTop: 190}, 400);
     }
  });

});
</script>

<script>
window.onscroll = function() {myFunction()};
var navbar = document.getElementById("main_nav_slick");
var sticky = navbar.offsetTop;

function myFunction() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
  }
}

$(function(){
    $.ajaxSetup({
        headers: { "X-CSRFToken": getCookie("csrftoken") }
    }); 
  });

  function getCookie(c_name)
  {
      if (document.cookie.length > 0)
      {
          c_start = document.cookie.indexOf(c_name + "=");
          if (c_start != -1)
          {
              c_start = c_start + c_name.length + 1;
              c_end = document.cookie.indexOf(";", c_start);
              if (c_end == -1) c_end = document.cookie.length;
              return unescape(document.cookie.substring(c_start,c_end));
          }
      }
      return "";
   };
   
function likesUpdate(pk){
    var updates={}
    updates.pk = parseInt(pk)
    $.ajax({
      url:"{% url 'tips:likesUpdate' %}",
      method:"post",
      data: updates,
      success: function(res){
        // console.log(res);
        if (res == 'login_require') {
          alert(res);
        }
        else if (res == 'post_error') {
          // add.. process
        }
        else {
        $('#likes_'+pk).html(res.likes_counts);
        }
      }, error: function(error){
        console.log(error);
        console.log("error");
      }
    });
  }

function articleText_call(pk){
  var article={}
  article.pk = parseInt(pk)
  $.ajax({
      url:"{% url 'tips:articleText_call' %}",
      method:"post",
      data:article,
      success: function(res){
        console.log(res);
        $('#tips_ModalTitle').html(res.title);
        $('#tips_ModalText').html(res.text);
        $('#views_'+pk).html(res.views_counts);
      }, error: function(error){
        console.log(error);
        console.log("error");
      }
    });
}

function setCookie(cName, cValue, cDay){
        var expire = new Date();
        expire.setDate(expire.getDate() + cDay);
        cookies = cName + '=' + escape(cValue) + '; path=/ ';
        if(typeof cDay != 'undefined') cookies += ';expires=' + expire.toGMTString() + ';';
        document.cookie = cookies;
    }
 
function getCookie(cName) {
    cName = cName + '=';
    var cookieData = document.cookie;
    var start = cookieData.indexOf(cName);
    var cValue = '';
    if(start != -1){
        start += cName.length;
        var end = cookieData.indexOf(';', start);
        if(end == -1)end = cookieData.length;
        cValue = cookieData.substring(start, end);
    }
    return unescape(cValue);
}

</script>
{% endblock %}

{% block footer %}
<div style="border: 0px solid red; height: 10%">
  &copy Loen  2018
</div>
{% endblock %}


<div class="row">
              <div class="col-md-6" style="border-bottom:1px solid #D3D3D3; background-color: #ffffff; width:100%; height:104px; margin-top: 10px"> 
                <a href="{% url 'tips:view_{{cate}}' pk=articles.id %}">
                <div style="margin-top:0px; border: 0px solid red; width:130px; height:95px; float:left">
                  <img style="width:100%; height:100%" src="{{articles.image_set.first.thumnails.url}}"/>
                </div>
                <div style="border: 0px solid orange; width: 58%; height:70px; margin-left:7px; float:left; font-size: 15px;">
                  <div style="border:0px solid blue; width:100%; font-weight: bold;">{{articles.title}}</div>
                  <div style="font-size: 0.9em; margin-top:13px">{{articles.slug|_replace}}</div>
                </div>
                </a>
              </div>
          </div>