{% extends "base.html" %}
{% load static %}
{% load embed_video_tags %}
{% load imagekit %}
{% load widget_tweaks %}
{% load jb_replace %}

{% block headAddon %}
<link rel="stylesheet" type="text/css" href="{% static 'slick/1.8.0/slick/slick.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'slick/1.8.0/slick/slick-theme.css' %}"/>
<style>
.article_text {
    white-space: pre-wrap;
}
.slick-slide{
  border: none;
  outline:none;
}
.noneDisplay{
  display :none;
}
textarea {
  resize: none;
  height: auto;
}
#id_message{
  height: auto;
}

td {
  /*border: 1px solid black;*/
}

</style>
{% endblock %}

{% block content %}

<div class="container" style="width:100%;">
	{% for content in article %}
	<div class="jumbotron" style="padding:25px 8px 8px 8px; margin-bottom: 0px">
    <div style="width:100%;text-align: center;">
      <h2>{{content.title}}</h2>
    </div>
    <div id="show_slick" class="show_slick" style="border:0px solid red; width:100%;height:100%;">
    {%for pic in content.image_set.all %}
      <div style="border: 0px solid red; width:100%; height:100%; margin-bottom:5px">
        <img style="width:100%; height:100%"  src="{{pic.file.url}}">
      </div>
    {% endfor %}
    {% if content.video %}
    <div class="show_slick_item">
      <video style="width:100%" controls>
        <source src="{{content.video.url}}" type="video/mp4"> Your browser does not support the video tag.
      </video>
    </div>
    {% endif %}
    </div>
    <!-- thumnail-------------------------------------------  -->
    <!-- {% if content.image_set.all.count > 1 %}
      <div id="thumnail_slick" class="thumnail_slick" style="border:0px solid red; width:100%;height:100%;margin:0 auto;">
      {%for pic in content.image_set.all %}
        <div class="show_slick_item" style="border: 0px solid red; width:100%; height:100%">
          <img style="width:98%; height:100%"  src="{{pic.thumnails.url}}">
        </div>
      {% endfor %}
      {% if content.video %}
      <div class="show_slick_item">
        <video style="width:100%;" >
          <source src="{{content.video.url}}" type="video/mp4"> Your browser does not support the video tag.
        </video>
      </div>
      {% endif %}
      </div>
    {% endif %} -->
    <div style="margin-top: 20px">
      <span id="views_{{content.id}}" class="badge badge-light">Views {{content.views}}</span>
      <span id="likes_{{content.id}}" onclick="likesUpdate()" class="badge badge-light" style="margin-left: 15%">Likes {{content.likes.count}}</span>
    </div>
    <div style="margin-top: 10px">
      <a href="https://plus.google.com/share?url={{request.build_absolute_uri}}{{content.id}}&t={{content.title}}">
        <img src="{% static '/Images/sns/googleplus.svg' %}" width="40" height="40">
      </a>
      <a href="https://twitter.com/share?text={{content.title}}&url={{request.build_absolute_uri}}{{content.id}}">
        <img src="{% static '/Images/sns/twitter.svg' %}" width="35" height="35">
      </a>
      <a href="https://www.pinterest.com/pin/create/button/?url={{request.build_absolute_uri}}{{content.id}}&media={{image}}&description={{content.title}}">
        <img src="{% static '/Images/sns/pinterest.svg' %}" width="35" height="35">
      </a>
      <a href="https://www.facebook.com/dialog/share?app_id={APP_ID}&display=popup&href={{request.build_absolute_uri}}{{content.id}}&redirect_uri={{request.build_absolute_uri}}">
        <img src="{% static '/Images/sns/facebook.svg' %}" width="35" height="35">
      </a>
    </div>
    <div style="margin-top: 10px">
      <p class="article_text">{{content.text}}</p>
    </div>
  </div>
  <div class="row" >
    <div class="col-sm-12">
      <div class="card card-default">
        <div class="card-header">{{content.comment_set.all.count}} Comments</div>
          <div class="card-body">
                {% if content.comment_set.all.count == 0 %}
                  <p style="font-weight: bold; font-size: 13px">You will be the first to make a comment. Be the one!<p>
                {% else %}
                  <table class="table">
                    <tbody>
                 {% for comment in content.comment_set.all %}
                      <tr>
                        <td style="font-size: 12px">
                          {{comment.author}}
                        </td>
                        <td style="font-size: 11px">
                          <span style="font-size: 11px">{{comment.message}}</span>
                          {% if user.is_authenticated and request.user == comment.author %}
                            <a class='text-primary edit_replyOnComment' onclick="edit_replyOnComment(this, {{content.id}}, {{comment.id}})">수정</a>
                            <a class='text-danger' onclick="delete_comment(this, {{content.id}}, {{comment.id}})">삭제</a>
                          {% endif %}
                          {% if user.is_authenticated %}
                            <a class='text-primary replyOnComment' data-comment-parent="{{ comment.id }}" onclick="replyOnComment(this, {{content.id}}, {{ comment.id }})">댓글</a>
                          {% endif %}
                        </td>
                        <td style="font-size: 11px; width:12%">
                          {{comment.updated_at}}
                        </td>
                      </tr>
                 {% endfor %}
                    </tbody>
                  </table>
                {% endif %}
          </div>
          <div id="card-footer" class="card-footer">
            {% if user.is_authenticated %}
            <div id="comment_form" class="comment_form">
              <form method="POST">
                {% csrf_token %}
                <input class="noneDisplay" type="text" id="article" name="article" value="{{content.id}}"/>
                {{ form.parent|add_class:"noneDisplay" }}
                {{ form.message|add_class:"col-sm-12" }}
                <input type="submit" value="Write"/>
              </form>
            </div>
            <!-- <a href="{% url 'tips:comment_new' content.pk %}">Write Comments</a> -->
            {% else %}
            <div style="width:100%; margin:0 auto; text-align: center;" >
              <a href="/login?next={{ request.path }}">
                <p>To make a comment, Please Log-in</p>              
              </a>
            </div> 
            {% endif %}
          </div> 
      </div>
    </div>
  </div>
	{% endfor %}
</div>  
{% endblock %}

{% block additional_script %}
<script type="text/javascript" src="{% static 'slick/1.8.0/slick/slick.min.js' %}"></script>
<script>
$(document).ready(function(){
  $('#show_slick').slick({
    arrows: false,
    dots: true,
    infinite: false,
    speed: 300,
    slidesToShow: 1,
    slidesToScroll: 1,
    adaptiveHeight: false,
    centerMode: false,
    focusOnSelect: true,
    swipeToSlide: true,
    accessibility: true,
    edgeFriction: 0.0,
  });

  $('#thumnail_slick').slick({
    dots: true,
    arrows: false,
    infinite: false,
    speed: 300,
    slidesToShow: 3,
    centerMode: false,
    lazyLoad: 'ondemand',
    adaptiveHeight: true,
    cssEase: 'linear',
    centerPadding: '40px',
    edgeFriction: 0.0,
  });

  $('.show_slick_item').on('click',function(event) {
    slideIndex = $(this).index();
    console.log(slideIndex);
    $('#show_slick').slick('slickGoTo', slideIndex, true );
    $('#thumnail_slick').slick('slickGoTo', slideIndex, true ); 
  });

  $("#id_message").attr("placeholder", "Type your comment here").blur();
  $("#id_message").attr("rows", "2");

  $('#comment_form').click(function(){
    $('#comment_form #id_parent').val(0);
  });
});

function replyOnComment(current, article_pk, comment_pk){
  var insert_td = $(current).parents('tr').children(":eq(1)");
  if ($(current).hasClass('remove')){
    $(current).removeClass('remove');
    $('.replyForm').remove();
    $('.edit_replyForm').remove();
  }
  else {
    $('.replyForm').remove();
    $('.edit_replyForm').remove(); 
    insert_td.append(`
                  <div class="replyOnCommentForm replyForm">
                    <br>
                    <form method="POST">
                      {% csrf_token %}
                      <input class="noneDisplay" type="text" id="article" name="article" value="`+article_pk+`"/>
                      {{ form.parent |add_class:"noneDisplay"}}
                      {{ form.message |add_class:"col-sm-12" }}
                      <input type="submit" value="Write"/>
                    </form>
                  </div>`
      );
    $('#id_parent').val(comment_pk);
    $("#id_message").attr("rows", "2");
    $("#id_message").focus();
    $(current).addClass('remove');
    console.log($('#id_parent').val())
  }
};

function edit_replyOnComment(current, p_pk, c_pk){
  var insert_td = $(current).parents('tr').children(":eq(1)");
  if ($(current).hasClass('remove')){
    $(current).removeClass('remove');
    $('.edit_replyForm').remove();
    $('.replyForm').remove();
  }
  else {
    var edits={};
    edits.p_pk = parseInt(p_pk);
    edits.c_pk = parseInt(c_pk);
    edits.csrfmiddlewaretoken = '{{csrf_token}}';
    $.ajax({
      url:"/tips/"+p_pk+"/comment/"+c_pk+"/edit_ajax/",
      method:"post",
      data: edits,
      success: function(res){
        if (res == 'login_require') {
          alert(res);
        }
        else if (res == 'post_error') {
          // add.. process
        }
        else {
          $('.edit_replyForm').remove();
          $('.replyForm').remove();
          var edit = `<div class='edit_replyOnCommentForm edit_replyForm'>
                        <br>
                        <form method='POST' action='/tips/"`+p_pk+`"/"`+c_pk+`"/'>
                        {% csrf_token %}
                        <input class='noneDisplay' type='text' id='article' name='article' value='"+p_pk+"'/>
                        {{ form.parent|add_class:"noneDisplay" }}
                        {{ form.message|add_class:"col-sm-12" }}
                        <input type='submit' value='Write'/></form>
                      </div>`;
          insert_td.append(edit);
          if (res.comment_parent == null ){
            $('#id_parent').val(0);
          }
          else {
            $('#id_parent').val(res.comment_parent);
          } 
          $('#id_message').val(res.comment_message);
          $("#id_message").attr("rows", "2");
          $("#id_message").focus();
          $(current).addClass('remove');
        }
      }, error: function(error){
        console.log(error);
        console.log("error");
      }
    });
  } 
};

function delete_comment(current, p_pk, c_pk){
  console.log(current);
  swal({
    title: "Detele!",
    text: "Do you want to delete the comment?",
    type: "info",
    showCancelButton: true,
    closeOnConfirm: false,
    showLoaderOnConfirm: true
  }, function () {
    setTimeout(function () {
        var _delete={};
        _delete.p_pk = parseInt(p_pk);
        _delete.c_pk = parseInt(c_pk);
        _delete.csrfmiddlewaretoken = '{{csrf_token}}';
        $.ajax({
          url:"/tips/"+p_pk+"/comment/"+c_pk+"/delete_ajax/",
          method:"post",
          data: _delete,
          success: function(res){
            // console.log(res);
            if (res == 'login_require') {
              swal(res);
            }
            else if (res == 'delete_error') {
              // add.. process
            }
            else if(res.comment_count == 0){
              $(current).parent().parent().remove();
              $('.card-body').html("<span style='font-weight:bold; font-size: 13px'>You will be the first to make a comment. Be the one!</span>");
            }
            else {
              $(current).parent().parent().remove();
            }
            $('.card-header').html(res.comment_count+" Comments");
          }, error: function(error){
            console.log(error);
            console.log("error");
          }
        });
        swal("Deleted!");
      }, 2000);
    
  });

}
// var category = document.location.href.split('/')[4];
// console.log( document.location.href.split('/'));
setCookie('p_page', '{{category}}', 1); 
function setCookie(cName, cValue, cDay){
    var expire = new Date();
    expire.setDate(expire.getDate() + cDay);
    cookies = cName + '=' + escape(cValue) + '; path=/ ';
    if(typeof cDay != 'undefined') cookies += ';expires=' + expire.toGMTString() + ';';
    document.cookie = cookies;
}

function likesUpdate(pk){
    var updates={};
    updates.pk = parseInt(pk);
    updates.csrfmiddlewaretoken = '{{csrf_token}}';
    $.ajax({
      url:"{% url 'tips:likesUpdate' %}",
      method:"post",
      data: updates,
      success: function(res){
        if (res == 'login_require') {
          alert(res);
        }
        else if (res == 'post_error') {
          // add.. process
        }
        else {
        $('#likes_'+pk).html(res.likes_counts);
        }
      }, error: function(error){
        console.log(error);
        console.log("error");
      }
    });
  }

</script>
{% endblock %}