{% extends "base.html" %}
{% load static %}
{% load embed_video_tags %}
{% load imagekit %}
{% load widget_tweaks %}
{% load jb_replace %}

{% block headAddon %}
<link rel="stylesheet" type="text/css" href="{% static 'slick/1.8.0/slick/slick.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'slick/1.8.0/slick/slick-theme.css' %}"/>
<style>
img {
  max-width: 100%;
}

.article_text {
    white-space: pre-wrap;
}
.slick-slide{
  border: none;
  outline:none;
}

.noneDisplay{
  display :none;
}
textarea {
  resize: none;
  height: auto;
}
#id_message{
  height: auto;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: 0;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.table{
  margin-bottom: 0;
}
.table td, .table th {
  padding: 0;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
.td_author {
  border:none;
  text-align: left;
  width: 100px
}
.td_message {
  border:none;
  width:60%;
  text-align: left
}
.td_message > p {
  border:none;
  white-space: pre-wrap;
}
.td_edit {
  border:none;
  width:100px;
}
.td_updated_at {
  border:none;
  width:180px;
}

@media only screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: left;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    /*content: attr(data-label);*/
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
  .td_author {
    width:100%;
    text-align: left;
  }
  .td_message {
    width:100%;
    padding:0;
  }
  .td_updated_at {
    text-align: right;
    margin-left: 88px
  }
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

</style>
{% endblock %}

{% block content %}
 
<div class="container" style="width:100%;">
	{% for article in listicle.articles.all %}
    <div class="jumbotron" style="padding:25px 8px 8px 8px; margin-bottom: 0px">
      <div style="width:100%;text-align: center;">
        <h2>{{article.title}}</h2>
      </div>
		<div class="image_slick" style="border:0px solid red; width:100%;height:100%">
		{%for pic in article.image_set.all %}
			<div class="image_slick_item" style="border: 0px solid red; width:100%; height:100%;margin-bottom:5px">
				<img style="width:100%; height:100%" src="{{pic.file.url}}">
			</div>
		{% endfor %}
    {% if article.video %}
    <div class="image_slick_item">
      <video style="width:100%" controls>
        <source src="{{article.video.url}}" type="video/mp4"> Your browser does not support the video tag.
      </video>
    </div>
    {% endif %}
		</div>
    <div style="margin-top: 20px">
  		<span id="views_{{article.id}}" class="badge badge-light">Views {{article.views}}</span>
      <span id="likes_{{article.id}}" onclick="likesUpdate({{article.id}})" class="badge badge-light" style="margin-left: 15%">Likes {{article.likes.count}}</span>
    </div>
    <div style="margin-top: 10px">
      <a href="https://plus.google.com/share?url={{request.build_absolute_uri}}{{article.id}}&t={{article.title}}">
        <img src="{% static '/Images/sns/googleplus.svg' %}" width="40" height="40">
      </a>
      <a href="https://twitter.com/share?text={{article.title}}&url={{request.build_absolute_uri}}{{article.id}}">
        <img src="{% static '/Images/sns/twitter.svg' %}" width="35" height="35">
      </a>
      <a href="https://www.pinterest.com/pin/create/button/?url={{request.build_absolute_uri}}{{article.id}}&media={{image}}&description={{article.title}}">
        <img src="{% static '/Images/sns/pinterest.svg' %}" width="35" height="35">
      </a>
      <a href="https://www.facebook.com/dialog/share?app_id={APP_ID}&display=popup&href={{request.build_absolute_uri}}{{article.id}}&redirect_uri={{request.build_absolute_uri}}">
        <img src="{% static '/Images/sns/facebook.svg' %}" width="35" height="35">
      </a>
    </div>
    <div style="margin-top: 10px">
      <p class="article_text">{{article.text|safe}}</p>
    </div>
    {% if user.is_authenticated %}
    <input type="button" class="btn btn-info" value="Save" onclick="articleSave({{authenticated_user.id}},{{article.id}})"/>
    {% else %}
    <input type="button" class="btn btn-info" value="Save" onclick="swal({title: 'Requires Login?', text: 'By clicking OK you will be redirected to Login.', showCancelButton: true },function(){window.location.href = '/login?next={{ request.path }}'})"/>
    {% endif %}
    <div id="snackbar"></div>
	</div>
	<div class="row" style="margin-bottom: 20px; border:0px solid red; " >
		<div class="col-sm-12">
		  <div class="card card-default">
		    <div class="card-header">{{article.comment_set.all.count}} Comments</div>
		      <div class="card-body">
                {% if article.comment_set.all.count == 0 %}
                  <p style="font-weight: bold; font-size: 13px">You will be the first to make a comment. Be the one!<p>
                {% else %}
                  <table class="table">
                    <tbody>
                 {% for comment in article.comment_set.all %}
                     {% if comment.depth == 2 %}
                       <tr style="background-color: white; width:96.5%; margin-left:10px">                         
                         <td class="td_author" style="font-size: 12px; padding-left: 10px; border: none">
                         <img width="10" height="10" style="transform: rotate(-90deg)" src="{% static '/Images/comment/comment_arrow.svg' %}">
                           {{comment.author}}<span> to </span> {{comment.parent_author}}
                         </td>
                     {% elif comment.depth > 2 %}
                       <tr style="background-color: #d4fce4; width:96.5%; margin-left:10px">
                         <td class="td_author" style="font-size: 12px; padding-left: 10px; border: none">
                         <img width="10" height="10" style="transform: rotate(-90deg)" src="{% static '/Images/comment/comment_arrow.svg' %}">
                           {{comment.author}}<span> to </span> {{comment.parent_author}}
                         </td>
                     {% else %}
                       <tr>
                         <td class="td_author" style="font-size: 12px;padding-left: 10px;border: none">
                           {{comment.author}}
                         </td>
                     {% endif %}
                        <td class="td_message" style="font-size: 11px;">
                          <p style="border:0px solid red">{{comment.message}}</p>
                        </td>
                        <td class="td_edit" style="font-size: 11px; border: none" >
                            {% if user.is_authenticated and request.user == comment.author %}
                            <a style="border:0px solid red" class='text-primary edit_replyOnComment' onclick="edit_replyOnComment(this, {{listicle.id}}, {{article.id}}, {{comment.id}})">수정</a>
                            <a style="border:0px solid red" class='text-danger' onclick="delete_comment(this, {{article.id}}, {{comment.id}})">삭제</a>
                          {% endif %}
                          {% if user.is_authenticated %}
                            <a style="border:0px solid red" class='text-primary replyOnComment' data-comment-parent="{{ comment.id }}" onclick="replyOnComment(this, {{listicle.id}}, {{article.id}}, {{ comment.id }})">댓글</a>
                          {% endif %}
                        </td>
                        <td class="td_updated_at" style="font-size: 11px; border:0px solid black;">
                          <span>{{comment.updated_at}}</span>
                        </td>
                      </tr>
                 {% endfor %}
                    </tbody>
                  </table>
                {% endif %}
          </div>
		      <div class="card-footer">
		        {% if user.is_authenticated %}
            <div id="comment_form" class="comment_form">
              <form method="POST">
                {% csrf_token %}
                <input class="noneDisplay" type="text" id="article" name="article" value="{{article.id}}"/>
                {{ form.parent|add_class:"noneDisplay" }}
                {{ form.message|add_class:"col-sm-12 id_message" }}
                <input type="submit" value="Write"/>
              </form>
            </div>
            {% else %}
            <div style="width:100%; margin:0 auto; text-align: center;" >
              <a href="/login?next={{ request.path }}">
                <p>To make a comment, Please Log-in</p>              
              </a>
            </div>
            {% endif %}
		      </div> 
		  </div>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}

{% block additional_script %}

<script type="text/javascript" src="{% static 'slick/1.8.0/slick/slick.min.js' %}"></script>
<script>
$(document).ready(function(){
  $('.image_slick').slick({
    dots: true,
    arrows: false,
    infinite: false,
    speed: 300,
    slidesToShow: 1,
    centerMode: false,
    adaptiveHeight: false,
    cssEase: 'linear',
    centerPadding: '40px',
  });

  $(".id_message").attr("placeholder", "Type your comment here").blur();
  $(".id_message").attr("rows", "2");

  $('.comment_form').click(function(){
    $('.comment_form #id_parent').val(0);
  });

  $('img').css('height','');
});

function replyOnComment(current, listicle_pk, article_pk, comment_pk){
  var insert_td = $(current).parents('tr').children(":eq(1)");
  if ($(current).hasClass('remove')){
    $(current).removeClass('remove');
    $('.replyForm').remove();
    $('.edit_replyForm').remove();
  }
  else {
    $('.replyForm').remove();
    $('.edit_replyForm').remove(); 
    insert_td.append(`
                  <div class="replyOnCommentForm replyForm">
                    <br>
                    <form method="POST">
                      {% csrf_token %}
                      <input class="noneDisplay" type="text" id="article" name="article" value="`+article_pk+`"/>
                      {{ form.parent |add_class:"noneDisplay"}}
                      {{ form.message |add_class:"col-sm-12" }}
                      <input type="submit" value="Write"/>
                    </form>
                  </div>`
      );
    $('#id_parent').val(comment_pk);
    $("#id_message").attr("rows", "2");
    $("#id_message").focus();
    $(current).addClass('remove');
  }
};

function edit_replyOnComment(current, listicle_pk, p_pk, c_pk){
  var insert_td = $(current).parents('tr').children(":eq(1)");
  if ($(current).hasClass('remove')){
    $(current).removeClass('remove');
    $('.edit_replyForm').remove();
    $('.replyForm').remove();
  }
  else {
    var edits={};
    edits.p_pk = parseInt(p_pk);
    edits.c_pk = parseInt(c_pk);
    edits.csrfmiddlewaretoken = '{{csrf_token}}';
    $.ajax({
      url:"/tips/"+p_pk+"/comment/"+c_pk+"/edit_ajax/",
      method:"post",
      data: edits,
      success: function(res){
        if (res == 'login_require') {
          alert(res);
        }
        else if (res == 'post_error') {
          // add.. process
        }
        else {
          $('.edit_replyForm').remove();
          $('.replyForm').remove();
          var edit = `<div class='edit_replyOnCommentForm edit_replyForm'>
                        <br>
                        <form method='POST' action='/tips/listicle/`+listicle_pk+`/`+p_pk+`/`+c_pk+`/'>
                        {% csrf_token %}
                        <input class='noneDisplay' type='text' id='article' name='article' value='`+p_pk+`'/>
                        {{ form.parent|add_class:"noneDisplay" }}
                        {{ form.message|add_class:"col-sm-12" }}
                        <input type='submit' value='Write'/>
                        </form>
                      </div>`;
          insert_td.append(edit);
          if (res.comment_parent == null ){
            $('#id_parent').val(0);
          }
          else {
            $('#id_parent').val(res.comment_parent);
          } 
          $('#id_message').val(res.comment_message);
          $("#id_message").attr("rows", "2");
          $("#id_message").focus();
          $(current).addClass('remove');
          console.log($('#id_parent').val())
        }
      }, error: function(error){
        console.log(error);
        console.log("error");
      }
    });
  } 
};

function delete_comment(current, p_pk, c_pk){
  swal({
    title: "Detele!",
    text: "Do you want to delete the comment?",
    type: "info",
    showCancelButton: true,
    closeOnConfirm: false,
    showLoaderOnConfirm: true
  }, function () {
    setTimeout(function () {
        var _delete={};
        _delete.p_pk = parseInt(p_pk);
        _delete.c_pk = parseInt(c_pk);
        _delete.csrfmiddlewaretoken = '{{csrf_token}}';
        $.ajax({
          url:"/tips/"+p_pk+"/comment/"+c_pk+"/delete_ajax/",
          method:"post",
          data: _delete,
          success: function(res){
            // console.log(res);
            if (res == 'login_require') {
              swal(res);
            }
            else if (res == 'delete_error') {
              // add.. process
            }
            else if(res.comment_count == 0){
              $(current).parent().remove();
              $('.card-body').html("<span style='font-weight:bold; font-size: 13px'>You will be the first to make a comment. Be the one!</span>");
            }
            else {
              $(current).parent().parent().remove();
            }
          }, error: function(error){
            console.log(error);
            console.log("error");
          }
        });
        swal("Deleted!");
      }, 2000);
  });
}
// var category = document.location.href.split('/')[4];
// console.log( document.location.href.split('/'));
setCookie('p_page', '{{category}}', 1); 
function setCookie(cName, cValue, cDay){
    var expire = new Date();
    expire.setDate(expire.getDate() + cDay);
    cookies = cName + '=' + escape(cValue) + '; path=/ ';
    if(typeof cDay != 'undefined') cookies += ';expires=' + expire.toGMTString() + ';';
    document.cookie = cookies;
}

function likesUpdate(pk){
    var updates={}
    updates.pk = parseInt(pk)
    updates.csrfmiddlewaretoken = '{{csrf_token}}';
    $.ajax({
      url:"{% url 'tips:likesUpdate' %}",
      method:"post",
      data: updates,
      success: function(res){
        // console.log(res);
        if (res == 'login_require') {
          alert(res);
        }
        else if (res == 'post_error') {
          // add.. process
        }
        else {
        $('#likes_'+pk).html(res.likes_counts);
        }
      }, error: function(error){
        console.log(error);
        console.log("error");
      }
    });
  }

function articleSave(user_id, article_id){
  console.log(user_id, article_id);
  var _add={};
  _add.user_id = parseInt(user_id);
  _add.article_id = parseInt(article_id);
  _add.csrfmiddlewaretoken = '{{csrf_token}}';
  $.ajax({
    url:"{% url 'tips:add_to_cart' %}",
    method:"post",
    data: _add,
    success: function(res){
      if(res==1){
        $('#snackbar').html('Added!');
        $('#snackbar').addClass('show');
        setTimeout(function(){ $('#snackbar').removeClass('show'); }, 1500);
      }
      else{
        swal("You added it aleady.")
      }
    }, error: function(error){
      console.log(error);
      console.log("error");
    }
  });
}
</script>
{% endblock %}